@use '../baseClasses';

@import '../fonts';
@import "../constants";

/* Хэдер */
.header {
  position: fixed;
  width: 100%;
  z-index: 999;

  &_black {
    background: url('../../../assets/img/header-bg.png') center/cover no-repeat;
    background-position-y: bottom;

    box-shadow: -1px 6px 34px -10px rgba(34, 60, 80, 0.16);
  }

  .messengers {
    display: none;

    gap: 10px;
    cursor: pointer;
    margin-right: 40px;

    & a {
      height: 50px;
      width: 50px;

      display: flex;
      align-items: center;
      justify-content: center;

      border: 0.5px $gray solid;
      border-radius: 10px;
      background: $black;

      & svg {
        color: $lemon
      }

      &:hover {
        background: $lemon;

        & svg {
          color: $black;
        }
      }
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding: 20px;
    align-items: center;

    transition: all linear 0.4s;

    &_visible {
      @extend .bg-black;
      transition: all linear 0.4s;

      & .header__nav .messengers {
        display: flex;
      }
    }
  }

  &__logo {
    justify-self: center;
  }

  &__nav {
    justify-self: end;


    display: flex;
    align-items: center;
    gap: 40px;


    & .phone {
      flex-shrink: 0;

      font-size: 14px;
      line-height: 16.8px;
      font-family: $dewi-Expanded;
    }

    & .burger {
      cursor: pointer;
      position: relative;
      height: 30px;
      width: 29px;
      display: block;
      align-self: center;

      &_visible {
        &:before {
          rotate: 45deg;
        }

        &:after {
          top: 9px !important;
          rotate: -45deg;
        }
      }

      &:after, &:before {
        @extend .bg-white;

        position: absolute;
        content: "";
        display: block;
        width: 29px;
        height: 1px;

        transition: all linear 0.4s;
      }

      &:before {
        top: 12px;
      }

      &:after {
        top: 17px;
      }

    }
  }

  &__button {
    color: $white;
    border: 0.5px $gray solid;
    background: unset;

    & svg {
      @extend .color-lemon;
    }

    &:hover {
      @extend .bg-lemon, .color-black;

      & svg {
        @extend .color-black;
      }
    }

    &_premium {
      margin-left: 10px;

      & svg {
        @extend .color-orange;
      }

      &:hover {
        @extend .bg-orange, .color-white;

        & svg {
          @extend .color-white;
        }
      }
    }
  }


  .nav {
    max-height: 0;
    transition: max-height 0.4s linear;
    overflow: hidden;

    &_visible {
      max-height: 100vh;
      transition: max-height 0.4s linear;

      & .nav__menu:after {
        display: block;
      }
    }

    &__image {
      width: 100%;
      height: 100%;
      background: url('../../../assets/img/menu-image.png') center/cover no-repeat;
      border-radius: 14px;
    }

    &__menu {
      @extend .bg-black;

      width: 100vw;
      height: 100vh;
      max-height: 682px;

      display: grid;
      grid-template-columns: minmax(100px, 500px) minmax(300px, 1fr) minmax(300px, 1fr);

      padding: 26px 20px 20px 20px;
      z-index: 999;

      overflow: hidden;

      & img {
        width: 100%;
      }

      &:after {
        @extend .bg-black;

        content: "";
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        opacity: 0.4;
        z-index: -1;

      }


      & .main-navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        padding: 42px 0 32px 30px;

        & .contacts {
          display: none;
        }

        & ul li {
          font-size: 30px;
          font-weight: 400;
          line-height: 36px;

          margin-bottom: 20px;
        }

        & .location {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }

      & .secondary-navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 52px;

        padding: 42px 0 32px 30px;


        & ul {
          margin-left: 40px;

          li {
            margin-bottom: 10px;

            &:first-child {
              margin-bottom: 20px;
            }

            &:nth-child(2) {
              display: none;
            }
          }
        }

        & .location {
          display: flex;
          flex-direction: column;
          gap: 10px;

          flex-grow: 1;
          justify-content: end;
        }
      }
    }


    & .mobile-contacts {
      display: none;
    }
  }
}

@media screen and (max-width: 1300px) {
  .header {
    &__buttons {
      display: none !important;
    }

    &__nav {
      grid-column-start: 2;
      grid-column-end: 4;
    }

    .nav {
      &__menu {
        & .secondary-navigation {
          & ul {
            li {
              &:first-child {
                display: none;
              }

              &:nth-child(2) {
                display: block;
                margin-bottom: 20px;
              }

              & .header__button_premium {
                margin-left: 0;
              }
            }
          }

          & .location {

            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .header {
    .nav {

      &__menu {
        grid-template-columns:1fr 1fr;
      }

      &__image {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {


    &__container {
      display: flex;
      justify-content: space-between;
    }

    &__buttons {
      display: none !important;
    }

    & .phone {
      display: none !important;
    }


    &__nav {

      & .burger {
        width: 45px;

        &:after, &:before {
          width: 45px;
        }

        &:before {
          top: 9px;
        }
      }

      & .messengers {
        display: none !important;
      }
    }

    .nav {

      & .mobile-contacts {
        display: block;

        & .messengers, & .phone {
          font-size: 30px;
          font-weight: 400;
          line-height: 36px;
          margin-bottom: 30px;

          display: flex !important;
        }
      }


      &__menu {
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-height: max-content;
        padding-bottom: 80px;
        margin-top: 0;

        & .main-navigation {
          padding: 0;
          align-items: start;

          & .menu-contacts {
            display: block;
          }

          & .location {
            display: none;
          }
        }

        & .secondary-navigation {
          padding: 0;

          & ul {
            margin-left: 0;

            li {
              &:first-child {
                display: none;
              }

              &:nth-child(2) {
                display: block;
                margin-bottom: 20px;
              }

              & .header__button_premium {
                margin-left: 0;
              }

              & .button {
                color: $white
              }
            }
          }

          & .location {
            display: none;
          }
        }
      }
    }
  }
}