@charset "UTF-8";
@import "RF_Devi_font.css";
/* Переменные */
/* Базовые цвета */
/* Акцентный цвет */
/* Шрифты */
/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "RF Dewi Expanded";
  color: #FFFFFF;
}

.flex {
  display: flex;
}

.h1 {
  font-size: 60px;
  line-height: 60px;
  font-family: "TT Autonomous Trl";
  font-weight: 400;
}

.h2 {
  font-size: 36px;
  line-height: 42px;
  font-family: "TT Autonomous Trl";
  font-weight: 300;
}

.h3 {
  font-size: 24px;
  line-height: 28.8px;
  font-family: "RF Dewi Expanded";
  font-weight: 400;
}

.h4 {
  font-size: 16px;
  line-height: 19.2px;
  font-family: "RF Dewi Expanded";
  font-weight: 700;
}

.p1 {
  font-size: 14px;
  line-height: 16.8px;
  font-family: "RF Dewi Expanded";
  font-weight: 400;
}

.p2 {
  font-size: 12px;
  line-height: 16px;
  font-family: "RF Dewi Expanded";
  font-weight: 400;
}

.number-font {
  font-size: 110px;
  line-height: 154px;
  font-family: "TT Autonomous Trl";
  font-weight: 200;
}

.menu-font {
  font-size: 30px;
  line-height: 36px;
  font-family: "RF Dewi Expanded";
  font-weight: 400;
}

.button-font, .button {
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 700;
}

.error {
  background: rgba(246, 74, 10, 0.1019607843) !important;
}

.button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 23px 26px;
  border-radius: 14px;
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
}
.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
}
.color-white {
  color: #FFFFFF;
}

.i-color-white {
  color: #FFFFFF !important;
}

.bg-white {
  background: #FFFFFF;
}

.i-bg-white {
  background: #FFFFFF !important;
}

.color-black {
  color: #000000;
}

.i-color-black {
  color: #000000 !important;
}

.bg-black {
  background: #000000;
}

.i-bg-black {
  background: #000000 !important;
}

.color-dark-gray {
  color: #141414;
}

.i-color-dark-gray {
  color: #141414 !important;
}

.bg-dark-gray {
  background: #141414;
}

.i-bg-dark-gray {
  background: #141414 !important;
}

.color-light-gray {
  color: #EBEBEB;
}

.i-color-light-gray {
  color: #EBEBEB !important;
}

.bg-light-gray {
  background: #EBEBEB;
}

.i-bg-light-gray {
  background: #EBEBEB !important;
}

.color-gray {
  color: #A0A0A0;
}

.i-color-gray {
  color: #A0A0A0 !important;
}

.bg-gray {
  background: #A0A0A0;
}

.i-bg-gray {
  background: #A0A0A0 !important;
}

.color-graphite {
  color: #52545A;
}

.i-color-graphite {
  color: #52545A !important;
}

.bg-graphite {
  background: #52545A;
}

.i-bg-graphite {
  background: #52545A !important;
}

.color-lemon {
  color: #FFF566;
}

.i-color-lemon {
  color: #FFF566 !important;
}

.bg-lemon {
  background: #FFF566;
}

.i-bg-lemon {
  background: #FFF566 !important;
}

.color-orange {
  color: #F64A0A;
}

.i-color-orange {
  color: #F64A0A !important;
}

.bg-orange {
  background: #F64A0A;
}

.i-bg-orange {
  background: #F64A0A !important;
}

.color-error {
  color: rgba(246, 74, 10, 0.1019607843);
}

.i-color-error {
  color: rgba(246, 74, 10, 0.1019607843) !important;
}

.bg-error {
  background: rgba(246, 74, 10, 0.1019607843);
}

.i-bg-error {
  background: rgba(246, 74, 10, 0.1019607843) !important;
}

@font-face {
  font-family: "TT Autonomous Trl";
  src: url("../fonts/TT_Autonomous_trl/TT Autonomous Trial ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "TT Autonomous Trl";
  src: url("../fonts/TT_Autonomous_trl/TT Autonomous Trial Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TT Autonomous Trl";
  src: url("../fonts/TT_Autonomous_trl/TT Autonomous Trial Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Autonomous Trl";
  src: url("../fonts/TT_Autonomous_trl/TT Autonomous Trial Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Autonomous Trl";
  src: url("../fonts/TT_Autonomous_trl/TT Autonomous Trial DemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Autonomous Trl";
  src: url("../fonts/TT_Autonomous_trl/TT Autonomous Trial Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Autonomous Trl";
  src: url("../fonts/TT_Autonomous_trl/TT Autonomous Trial ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
/* Переменные */
/* Базовые цвета */
/* Акцентный цвет */
/* Шрифты */
.popup {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  color: #000000;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.3s ease;
}
.popup_visible {
  opacity: 1;
  transition: all 0.3s ease;
}
.popup_visible .popup__content {
  width: 517px;
  min-height: 300px;
  transition: all 0.3s ease;
}
.popup__content {
  padding: 50px 20px 20px 20px;
  width: 0;
  min-height: 0;
  margin: auto;
  position: relative;
  transition: all 0.3s ease;
  background: #FFFFFF;
  border-radius: 20px;
}
.popup__content .popup__close {
  position: absolute;
  top: -22px;
  right: -22px;
  cursor: pointer;
}
.popup__content h3 {
  margin-bottom: 20px;
}
.popup__content p {
  margin-bottom: 30px;
  line-height: 18px;
}
.popup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.popup-form .test {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.popup-form .technic {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.popup-form .technic .datepicker {
  grid-column-start: 1;
  grid-column-end: 3;
}
.popup-form__button {
  background: #FFF566;
  justify-content: center !important;
}
.popup-form__button_premium {
  background: #F64A0A;
  color: #FFFFFF;
}
.popup-form__button_disabled {
  background: #A0A0A0;
  color: #FFFFFF;
  pointer-events: none;
  cursor: not-allowed;
}
.popup-form__button:hover {
  opacity: 0.9;
}
.popup .agree {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #A0A0A0;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .popup_visible .popup__content {
    width: 410px;
  }
  .popup__content {
    padding: 60px 10px 10px 10px;
  }
  .popup__content h3, .popup__content p {
    padding: 0 10px;
  }
  .popup__content .popup__close {
    top: -32px;
    right: 0;
  }
  .popup .agree {
    font-size: 8px;
    font-weight: 400;
    line-height: 9.6px;
  }
}

/*# sourceMappingURL=popup.css.map */
