@use '../baseClasses';

@import "../constants";


.select {
  position: relative;

  &__input {
    width: 100%;
    padding: 13.5px 12px;

    border: 0.5px solid $gray;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    background: $white;

    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: $graphite;
    font-family: $dewi-Expanded;

    &:hover {
      border-color: $graphite;
    }

    &::placeholder {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      text-align: left;
      color: $gray;
    }

    &.active {
      border-radius: 8px 8px 0 0;
      border-bottom: none;
      box-shadow: 0 20px 9px 3px rgba(0, 0, 0, 0.1);
      background: $white;

      &:hover {
        border-color: $gray;
      }
    }
  }

  &__icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;

    svg {
      color: $graphite;
      transition: color 0.5s;

      &:hover {
        color: $black;
      }
    }
  }

  &__options {
    position: absolute;
    top: 33px;
    left: 0;
    right: 0;
    z-index: 99;

    display: none;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    padding-bottom: 17px;

    transition: max-height 0.5s;

    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1);
    border: 0.5px solid $gray;
    border-top: none;
    border-radius: 0 0 8px 8px;

    cursor: pointer;
    outline: none;
    background: $white;

    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: $graphite;


    &.active {
      display: block;
      max-height: 500px;
    }

    .select__option {
      padding: 3px 12px;
      cursor: pointer;
      border-radius: 8px;

      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      text-align: left;
      color: $graphite;

      &:hover {
        background-color: $light-gray;
      }

      &.selected {
        background-color: #007bff;
        color: #fff;
      }
    }
  }
}