@charset "UTF-8";
@import "RF_Devi_font.css";
/* Переменные */
/* Базовые цвета */
/* Акцентный цвет */
/* Шрифты */
/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "RF Dewi Expanded";
  color: #FFFFFF;
}

.flex {
  display: flex;
}

.h1 {
  font-size: 60px;
  line-height: 60px;
  font-family: "TT Autonomous Trl";
  font-weight: 400;
}

.h2 {
  font-size: 36px;
  line-height: 42px;
  font-family: "TT Autonomous Trl";
  font-weight: 300;
}

.h3 {
  font-size: 24px;
  line-height: 28.8px;
  font-family: "RF Dewi Expanded";
  font-weight: 400;
}

.h4 {
  font-size: 16px;
  line-height: 19.2px;
  font-family: "RF Dewi Expanded";
  font-weight: 700;
}

.p1 {
  font-size: 14px;
  line-height: 16.8px;
  font-family: "RF Dewi Expanded";
  font-weight: 400;
}

.p2 {
  font-size: 12px;
  line-height: 16px;
  font-family: "RF Dewi Expanded";
  font-weight: 400;
}

.number-font {
  font-size: 110px;
  line-height: 154px;
  font-family: "TT Autonomous Trl";
  font-weight: 200;
}

.menu-font {
  font-size: 30px;
  line-height: 36px;
  font-family: "RF Dewi Expanded";
  font-weight: 400;
}

.button-font, .button {
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 700;
}

.error {
  background: rgba(246, 74, 10, 0.1019607843) !important;
}

.button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 23px 26px;
  border-radius: 14px;
}

.color-white {
  color: #FFFFFF;
}

.i-color-white {
  color: #FFFFFF !important;
}

.bg-white {
  background: #FFFFFF;
}

.i-bg-white {
  background: #FFFFFF !important;
}

.color-black {
  color: #000000;
}

.i-color-black {
  color: #000000 !important;
}

.bg-black {
  background: #000000;
}

.i-bg-black {
  background: #000000 !important;
}

.color-dark-gray {
  color: #141414;
}

.i-color-dark-gray {
  color: #141414 !important;
}

.bg-dark-gray {
  background: #141414;
}

.i-bg-dark-gray {
  background: #141414 !important;
}

.color-light-gray {
  color: #EBEBEB;
}

.i-color-light-gray {
  color: #EBEBEB !important;
}

.bg-light-gray {
  background: #EBEBEB;
}

.i-bg-light-gray {
  background: #EBEBEB !important;
}

.color-gray {
  color: #A0A0A0;
}

.i-color-gray {
  color: #A0A0A0 !important;
}

.bg-gray {
  background: #A0A0A0;
}

.i-bg-gray {
  background: #A0A0A0 !important;
}

.color-graphite {
  color: #52545A;
}

.i-color-graphite {
  color: #52545A !important;
}

.bg-graphite {
  background: #52545A;
}

.i-bg-graphite {
  background: #52545A !important;
}

.color-lemon {
  color: #FFF566;
}

.i-color-lemon {
  color: #FFF566 !important;
}

.bg-lemon {
  background: #FFF566;
}

.i-bg-lemon {
  background: #FFF566 !important;
}

.color-orange {
  color: #F64A0A;
}

.i-color-orange {
  color: #F64A0A !important;
}

.bg-orange {
  background: #F64A0A;
}

.i-bg-orange {
  background: #F64A0A !important;
}

.color-error {
  color: rgba(246, 74, 10, 0.1019607843);
}

.i-color-error {
  color: rgba(246, 74, 10, 0.1019607843) !important;
}

.bg-error {
  background: rgba(246, 74, 10, 0.1019607843);
}

.i-bg-error {
  background: rgba(246, 74, 10, 0.1019607843) !important;
}

@font-face {
  font-family: "TT Autonomous Trl";
  src: url("../fonts/TT_Autonomous_trl/TT Autonomous Trial ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "TT Autonomous Trl";
  src: url("../fonts/TT_Autonomous_trl/TT Autonomous Trial Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TT Autonomous Trl";
  src: url("../fonts/TT_Autonomous_trl/TT Autonomous Trial Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Autonomous Trl";
  src: url("../fonts/TT_Autonomous_trl/TT Autonomous Trial Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Autonomous Trl";
  src: url("../fonts/TT_Autonomous_trl/TT Autonomous Trial DemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Autonomous Trl";
  src: url("../fonts/TT_Autonomous_trl/TT Autonomous Trial Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Autonomous Trl";
  src: url("../fonts/TT_Autonomous_trl/TT Autonomous Trial ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
/* Переменные */
/* Базовые цвета */
/* Акцентный цвет */
/* Шрифты */
.toggle {
  display: flex;
  align-items: center;
}
.toggle__input {
  display: none;
}
.toggle__input:checked + .toggle__label .toggle__slider {
  background-color: #A0A0A0;
}
.toggle__input:checked + .toggle__label .toggle__slider::after {
  transform: translateX(24px);
  background-color: #FFF566;
}
.toggle__input:checked + .toggle__label {
  color: #A0A0A0;
}
.toggle__input:checked + .toggle__label .toggle__text .toggle__option {
  color: #000000;
}
.toggle__input:checked + .toggle__label .toggle__text .toggle__option--active {
  color: #A0A0A0;
}
.toggle__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.toggle__slider {
  width: 52px;
  height: 29px;
  background-color: #000000;
  border-radius: 18px;
  position: relative;
  margin-right: 16px;
  transition: background-color 0.3s ease;
  padding: 3px;
}
.toggle__slider::after {
  content: "";
  width: 23px;
  height: 23px;
  background-color: #FFF566;
  border-radius: 50%;
  position: absolute;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.toggle__text {
  display: flex;
  gap: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.toggle__option {
  color: #A0A0A0;
  transition: color 0.3s;
}
.toggle__option--active {
  color: #000000;
}

/*# sourceMappingURL=toggle.css.map */
