@import "constants";

/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $dewi-Expanded;
  color: $white;
}

.flex {
  display: flex;
}

.h1 {
  font-size: 60px;
  line-height: 60px;
  font-family: $autonomous;
  font-weight: 400;
}

.h2 {
  font-size: 36px;
  line-height: 42px;
  font-family: $autonomous;
  font-weight: 300;
}

.h3 {
  font-size: 24px;
  line-height: 28.8px;
  font-family: $dewi-Expanded;
  font-weight: 400;
}

.h4 {
  font-size: 16px;
  line-height: 19.2px;
  font-family: $dewi-Expanded;
  font-weight: 700;
}

.p1 {
  font-size: 14px;
  line-height: 16.8px;
  font-family: $dewi-Expanded;
  font-weight: 400;
}

.p2 {
  font-size: 12px;
  line-height: 16px;
  font-family: $dewi-Expanded;
  font-weight: 400;
}

.number-font {
  font-size: 110px;
  line-height: 154px;
  font-family: $autonomous;
  font-weight: 200;
}

.menu-font {
  font-size: 30px;
  line-height: 36px;
  font-family: $dewi-Expanded;
  font-weight: 400;
}

.button-font {
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 700;
}

.error {
  background: $error !important;
}

.button {
  @extend .button-font;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  padding: 23px 26px;
  border-radius: 14px;
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none!important;
  }
}

.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
}

.mobile-inline {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-inline {
    display: inline-flex;
  }
}

// 🔴 Переменные цветов
$colors: (
        white: $white,
        black: $black,
        dark-gray: $dark-gray,
        light-gray: $light-gray,
        gray: $gray,
        graphite: $graphite,
        lemon: $lemon,
        orange: $orange,
        error: $error,
);

// 🔄 Генерация классов через цикл
@each $name, $color in $colors {
  .color-#{$name} {
    color: $color;
  }

  .i-color-#{$name} {
    color: $color !important;
  }

  .bg-#{$name} {
    background: $color;
  }

  .i-bg-#{$name} {
    background: $color !important;
  }
}