/* Переменные */
/* Базовые цвета */
$white: #FFFFFF;
$black: #000000;

$dark-gray: #141414;
$light-gray: #EBEBEB;
$gray: #A0A0A0;
$graphite: #52545A;

/* Акцентный цвет */
$lemon: #FFF566;
$orange: #F64A0A;
$error: #F64A0A1A;

/* Шрифты */

$autonomous-R: 'TT Autonomous Trl Regular';
$autonomous-L: 'TT Autonomous Trl Light';
$autonomous-EL: 'TT Autonomous Trl ExtraLight';

$dewi-Expanded-R: 'RF Dewi Expanded Regular';
$dewi-Expanded-B: 'RF Dewi Expanded Bold';

//
//$autonomous-R: 'TT Autonomous Trl Regular, sans-serif';
//$autonomous-L: 'TT Autonomous Trl Light, sans-serif';
//$autonomous-EL: 'TT Autonomous Trl ExtraLight, sans-serif';
//
//$dewi-Expanded-R: 'RF Dewi Expanded Regular, sans-serif';
//$dewi-Expanded-B: 'RF Dewi Expanded Bold, sans-serif';
