/* Переменные */
/* Базовые цвета */
$white: #FFFFFF;
$black: #000000;
$black-2: #141414;

$dark-gray: #141414;
$light-gray: #EBEBEB;
$light-gray-200: #F6F6F6;
$gray: #A0A0A0;
$graphite: #52545A;
$graphite-05: #52545a9a;

/* Акцентный цвет */
$lemon: #FFF566;
$orange: #F64A0A;
$error: #F64A0A1A;

/* Шрифты */

$autonomous: 'TTAutonomous-Trial';
$dewi-Expanded: 'RF Dewi Expanded';

//
//$autonomous-R: 'TT Autonomous Trl Regular, sans-serif';
//$autonomous-L: 'TT Autonomous Trl Light, sans-serif';
//$autonomous-EL: 'TT Autonomous Trl ExtraLight, sans-serif';
//
//$dewi-Expanded-R: 'RF Dewi Expanded Regular, sans-serif';
//$dewi-Expanded-B: 'RF Dewi Expanded Bold, sans-serif';
