@use 'baseClasses';

@import 'fonts';
@import "constants";


.datepicker {
  position: relative;

  .datepicker-input {
    width: 100%;
    padding: 13.5px 20px;

    border: 0.5px solid $gray;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    background: $white;
    color: $graphite;

    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

    font-family: $dewi-Expanded;

    &:hover {
      border-color: $graphite;
    }

    &::placeholder {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      text-align: left;
      color: $graphite;
    }

    &.active {
      border-radius: 8px 8px 0 0;
      border-bottom: none;
      box-shadow: 0 20px 9px 3px rgba(0, 0, 0, 0.1);
      background: $white;
    }
  }

  .datepicker-icon {
    position: absolute;
    right: 10px;
    top: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: 18px 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      color: $graphite;
      height: 12px;
      width: 12px;
      transition: fill 0.3s;

      &:hover {
        color: $gray;
      }
    }
  }

  .datepicker-calendar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: $white;
    border: 0.5px solid $gray;
    border-top: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 20px 9px 3px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding-top: 10px;
    display: none;

    &.active {
      display: block;
    }

    .datepicker-weekdays {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      padding: 4px 0;

      div {
        text-transform: uppercase;
        text-align: center;
        line-height: 16px;
        font-size: 8px;
        color: $gray;
        font-weight: 400;
      }

      & .weekend {
        color: $graphite;
      }
    }

    .datepicker-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      color: $white;
      border-radius: 8px 8px 0 0;

      button {
        background: none;
        border: none;
        color: $graphite;
        font-size: 16px;
        cursor: pointer;

        &:hover {
          color: $gray;
        }
      }

      & .disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;
      }

      & .datepicker-prev {
        margin-right: 10px;
      }
    }

    .datepicker-title {
      text-transform: capitalize;
      padding: 4px 8px;
      background: $black;
      color: $white;
      border-radius: 4px;
      font-weight: 400;
    }

    .datepicker-days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 8px;
      padding: 10px;
      color: $gray;

      & .weekend {
        color: $graphite;
      }

      & .disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;
      }

      & .active {
        background: $lemon;
        color: $black;
      }

      div {
        text-align: center;
        padding: 4px 6px;
        cursor: pointer;
        border-radius: 4px;
        line-height: 16px;
        font-size: 8px;
        color: $gray;
        font-weight: 400;

        &:hover {
          background: $lemon;
          color: $black;
        }

        &.selected {
          background: $lemon;
          color: $black;
        }
      }

      .datepicker-prevday {
        color: $light-gray;
        cursor: unset;

        &:hover {
          background: unset;
          color: $light-gray;
        }
      }

      .datepicker-nextday {
        color: $light-gray;
        cursor: unset;

        &:hover {
          background: unset;
          color: $light-gray;
        }
      }
    }
  }
}