@import "./RF_Devi_font.css";

@font-face {
    font-family: 'TTAutonomous-Trial';
    src: url('../fonts/TT_Autonomous_trl/TTAutonomous-Trial-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TTAutonomous-Trial';
    src: url('../fonts/TT_Autonomous_trl/TTAutonomous-Trial-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TTAutonomous-Trial';
    src: url('../fonts/TT_Autonomous_trl/TTAutonomous-Trial-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TTAutonomous-Trial';
    src: url('../fonts/TT_Autonomous_trl/TTAutonomous-Trial-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TTAutonomous-Trial';
    src: url('../fonts/TT_Autonomous_trl/TTAutonomous-Trial-DemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TTAutonomous-Trial';
    src: url('../fonts/TT_Autonomous_trl/TTAutonomous-Trial-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TTAutonomous-Trial';
    src: url('../fonts/TT_Autonomous_trl/TTAutonomous-Trial-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}
