@charset "UTF-8";
@import 'null-css.css';
@import 'fonts.css';
/* Переменные */
/* Базовые цвета */
/* Акцентный цвет */
/* Шрифты */
@import '../swiper-package/swiper-bundle.min.css';
@import "footer.css";
@import "scrollLayout.css";
@import "header.css";
@import "datapicker.css";
@import "select.css";
@import "checkbox.css";
@import "text-input.css";
@import "popup.css";
@import "video-popup.css";
@import "toggle.css";
/* Переменные */
/* Базовые цвета */
/* Акцентный цвет */
/* Шрифты */
/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "RF Dewi Expanded";
  color: #FFFFFF;
}

.flex {
  display: flex;
}

.h1 {
  font-size: 60px;
  line-height: 60px;
  font-family: "TT Autonomous Trl";
  font-weight: 400;
}

.h2 {
  font-size: 36px;
  line-height: 42px;
  font-family: "TT Autonomous Trl";
  font-weight: 300;
}

.h3 {
  font-size: 24px;
  line-height: 28.8px;
  font-family: "RF Dewi Expanded";
  font-weight: 400;
}

.h4 {
  font-size: 16px;
  line-height: 19.2px;
  font-family: "RF Dewi Expanded";
  font-weight: 700;
}

.p1 {
  font-size: 14px;
  line-height: 16.8px;
  font-family: "RF Dewi Expanded";
  font-weight: 400;
}

.p2 {
  font-size: 12px;
  line-height: 16px;
  font-family: "RF Dewi Expanded";
  font-weight: 400;
}

.number-font {
  font-size: 110px;
  line-height: 154px;
  font-family: "TT Autonomous Trl";
  font-weight: 200;
}

.menu-font {
  font-size: 30px;
  line-height: 36px;
  font-family: "RF Dewi Expanded";
  font-weight: 400;
}

.button-font, .button {
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 700;
}

.error {
  background: rgba(246, 74, 10, 0.1019607843) !important;
}

.button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 23px 26px;
  border-radius: 14px;
}

.color-white {
  color: #FFFFFF;
}

.i-color-white {
  color: #FFFFFF !important;
}

.bg-white {
  background: #FFFFFF;
}

.i-bg-white {
  background: #FFFFFF !important;
}

.color-black {
  color: #000000;
}

.i-color-black {
  color: #000000 !important;
}

.bg-black {
  background: #000000;
}

.i-bg-black {
  background: #000000 !important;
}

.color-dark-gray {
  color: #141414;
}

.i-color-dark-gray {
  color: #141414 !important;
}

.bg-dark-gray {
  background: #141414;
}

.i-bg-dark-gray {
  background: #141414 !important;
}

.color-light-gray {
  color: #EBEBEB;
}

.i-color-light-gray {
  color: #EBEBEB !important;
}

.bg-light-gray {
  background: #EBEBEB;
}

.i-bg-light-gray {
  background: #EBEBEB !important;
}

.color-gray {
  color: #A0A0A0;
}

.i-color-gray {
  color: #A0A0A0 !important;
}

.bg-gray {
  background: #A0A0A0;
}

.i-bg-gray {
  background: #A0A0A0 !important;
}

.color-graphite {
  color: #52545A;
}

.i-color-graphite {
  color: #52545A !important;
}

.bg-graphite {
  background: #52545A;
}

.i-bg-graphite {
  background: #52545A !important;
}

.color-lemon {
  color: #FFF566;
}

.i-color-lemon {
  color: #FFF566 !important;
}

.bg-lemon {
  background: #FFF566;
}

.i-bg-lemon {
  background: #FFF566 !important;
}

.color-orange {
  color: #F64A0A;
}

.i-color-orange {
  color: #F64A0A !important;
}

.bg-orange {
  background: #F64A0A;
}

.i-bg-orange {
  background: #F64A0A !important;
}

.color-error {
  color: rgba(246, 74, 10, 0.1019607843);
}

.i-color-error {
  color: rgba(246, 74, 10, 0.1019607843) !important;
}

.bg-error {
  background: rgba(246, 74, 10, 0.1019607843);
}

.i-bg-error {
  background: rgba(246, 74, 10, 0.1019607843) !important;
}

.header {
  top: 0;
  background: #FFFFFF;
}
.header__logo, .header__container, .header__button {
  color: #000000;
}
.header__logo .header__button, .header__logo .header__logo, .header__container .header__button, .header__container .header__logo, .header__button .header__button, .header__button .header__logo {
  color: #000000;
}
.header__logo_visible, .header__container_visible, .header__button_visible {
  color: #FFFFFF;
}
.header__logo_visible .header__button, .header__logo_visible .header__logo, .header__container_visible .header__button, .header__container_visible .header__logo, .header__button_visible .header__button, .header__button_visible .header__logo {
  color: #FFFFFF;
}
.header__nav .burger:after, .header__nav .burger:before {
  background: #000000;
}
.header__nav .burger_visible:after, .header__nav .burger_visible:before {
  background: #FFFFFF;
}

main {
  margin-top: 100px;
}

.product {
  justify-content: center;
  width: 100%;
  color: #000000;
  overflow: hidden;
}
.product__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 60px 20px 0 20px;
}
.product__header .h1 {
  font-size: 30px;
  font-weight: 300;
  line-height: 42px;
}
.product__header .price {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.product__header .breadcrumb {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #A0A0A0;
}
.product__header .breadcrumb span {
  color: #141414;
}
.product .controllers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  padding: 20px 155px;
}
.product .controllers__pagination {
  display: flex;
  align-self: center;
  gap: 2px;
}
.product .controllers__slider {
  display: flex;
  gap: 20px;
}
.product .controllers__buttons .manager {
  background: #FFF566;
}
.product .controllers__buttons .manager:hover {
  background: #52545A;
  color: #FFF566;
}
.product .controllers__buttons .test-drive {
  border: 0.5px solid #52545A;
  color: #52545A;
}
.product .controllers__buttons .test-drive:hover {
  background: #FFF566;
  border-color: #FFF566;
}
.product-prev, .product-next {
  cursor: pointer;
  color: #52545A;
}
.product-prev svg, .product-next svg {
  height: 100%;
}
.product-prev:hover, .product-next:hover {
  color: #000000;
}
.product [aria-disabled=true] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
.product-slider {
  position: relative;
}
.product-wrapper {
  width: 100%;
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.product-slide {
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 1;
  opacity: 0.4;
  width: calc(100% - 310px);
}
.product-slide.swiper-slide-active {
  opacity: 1;
}
.product-slide img {
  width: 100%;
}

@media screen and (max-width: 951px) {
  .services {
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding: 20px 10px;
  }
  .services .catalog {
    min-height: 542px;
    padding: 30px 10px 49px 10px;
  }
  .services .catalog__title {
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 30px;
    padding: 10px;
  }
  .services .catalog__button {
    width: 100%;
    justify-content: center;
  }
  .services .catalog__image {
    bottom: 60px;
    height: 263px;
  }
  .services__plus-img {
    top: 534px;
    left: calc(50% - 33px);
    width: unset;
    height: 66px;
  }
  .services .car-care {
    gap: 10px;
    padding: 40px 10px 10px 10px;
  }
  .services .car-care__title {
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
    padding: 0 10px;
  }
  .services .car-care__list {
    margin-bottom: 56px;
    padding: 0 10px;
    row-gap: 20px;
  }
  .services .car-care__button {
    display: none;
  }
  .services .car-care__button_mobile {
    display: block;
    text-align: center;
    width: 100%;
  }
  .services .car-care__image {
    height: 305px;
  }
}
.spec {
  color: #FFFFFF;
  background: #52545A;
  border-radius: 20px;
  max-width: 1130px;
  margin: auto;
  padding: 60px 40px;
}
.spec__header {
  margin-bottom: 40px;
}
.spec__header h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}
.spec__header p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.spec__header p b {
  font-weight: 700;
}
.spec__technic {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 60px;
  padding-bottom: 60px;
  border-bottom: 0.5px solid #EBEBEB;
}
.spec__technic .technic-item {
  color: #EBEBEB;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.spec__technic .technic-item span {
  color: #FFF566;
}
.spec__manufacture {
  list-style: none;
  padding: 60px 0 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
}
.spec__manufacture li {
  display: flex;
  align-items: end;
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  position: relative;
}
.spec__manufacture li .manufacture-title {
  display: flex;
  width: 220px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #A0A0A0;
}
.spec__manufacture li .manufacture-title .dots {
  flex-grow: 1;
  border-bottom: 0.5px dashed #A0A0A0;
  margin: 0 10px;
}
.spec__manufacture li .manufacture-value {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (max-width: 951px) {
  .services {
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding: 20px 10px;
  }
  .services .catalog {
    min-height: 542px;
    padding: 30px 10px 49px 10px;
  }
  .services .catalog__title {
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 30px;
    padding: 10px;
  }
  .services .catalog__button {
    width: 100%;
    justify-content: center;
  }
  .services .catalog__image {
    bottom: 60px;
    height: 263px;
  }
  .services__plus-img {
    top: 534px;
    left: calc(50% - 33px);
    width: unset;
    height: 66px;
  }
  .services .car-care {
    gap: 10px;
    padding: 40px 10px 10px 10px;
  }
  .services .car-care__title {
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
    padding: 0 10px;
  }
  .services .car-care__list {
    margin-bottom: 56px;
    padding: 0 10px;
    row-gap: 20px;
  }
  .services .car-care__button {
    display: none;
  }
  .services .car-care__button_mobile {
    display: block;
    text-align: center;
    width: 100%;
  }
  .services .car-care__image {
    height: 305px;
  }
}
.sizes {
  color: #000000;
  padding: 144px 155px;
  display: grid;
  grid-template-columns: minmax(629px, 1fr) 1fr;
  column-gap: 78px;
}
.sizes .h3 {
  grid-column-start: 2;
  margin-bottom: 25px;
}
.sizes__image {
  width: 100%;
}
.sizes .size-list {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.sizes .size-list li {
  border-bottom: 1px solid #EBEBEB;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}
.sizes .size-list li:first-child {
  border-top: 1px solid #EBEBEB;
}
.sizes .size-list__title {
  color: #52545A;
}

@media screen and (max-width: 951px) {
  .services {
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding: 20px 10px;
  }
  .services .catalog {
    min-height: 542px;
    padding: 30px 10px 49px 10px;
  }
  .services .catalog__title {
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 30px;
    padding: 10px;
  }
  .services .catalog__button {
    width: 100%;
    justify-content: center;
  }
  .services .catalog__image {
    bottom: 60px;
    height: 263px;
  }
  .services__plus-img {
    top: 534px;
    left: calc(50% - 33px);
    width: unset;
    height: 66px;
  }
  .services .car-care {
    gap: 10px;
    padding: 40px 10px 10px 10px;
  }
  .services .car-care__title {
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
    padding: 0 10px;
  }
  .services .car-care__list {
    margin-bottom: 56px;
    padding: 0 10px;
    row-gap: 20px;
  }
  .services .car-care__button {
    display: none;
  }
  .services .car-care__button_mobile {
    display: block;
    text-align: center;
    width: 100%;
  }
  .services .car-care__image {
    height: 305px;
  }
}
.about {
  background: #000000;
  padding: 100px 155px;
  margin-bottom: 140px;
  border-radius: 20px 20px 0 0;
  display: flex;
  gap: 132px;
}
.about__description {
  width: 422px;
  flex-shrink: 0;
}
.about__description p {
  margin-bottom: 60px;
}
.about__description .manager {
  color: #000000;
  background: #FFF566;
}
.about__description .manager:hover {
  background: #FFFFFF;
}
.about__description .test-drive {
  border: 0.5px solid #EBEBEB;
}
.about__description .test-drive:hover {
  color: #000000;
  background: #FFF566;
}

@media screen and (max-width: 951px) {
  .services {
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding: 20px 10px;
  }
  .services .catalog {
    min-height: 542px;
    padding: 30px 10px 49px 10px;
  }
  .services .catalog__title {
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 30px;
    padding: 10px;
  }
  .services .catalog__button {
    width: 100%;
    justify-content: center;
  }
  .services .catalog__image {
    bottom: 60px;
    height: 263px;
  }
  .services__plus-img {
    top: 534px;
    left: calc(50% - 33px);
    width: unset;
    height: 66px;
  }
  .services .car-care {
    gap: 10px;
    padding: 40px 10px 10px 10px;
  }
  .services .car-care__title {
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
    padding: 0 10px;
  }
  .services .car-care__list {
    margin-bottom: 56px;
    padding: 0 10px;
    row-gap: 20px;
  }
  .services .car-care__button {
    display: none;
  }
  .services .car-care__button_mobile {
    display: block;
    text-align: center;
    width: 100%;
  }
  .services .car-care__image {
    height: 305px;
  }
}
.equipment {
  overflow: hidden;
  position: relative;
  margin-bottom: 140px;
}
.equipment .controllers {
  position: absolute;
  bottom: 30px;
  width: 100%;
  color: #FFFFFF;
}
.equipment .controllers__slider {
  width: calc(100% - 310px);
  margin: 0 auto;
  padding: 30px;
  justify-content: end;
  display: flex;
  gap: 20px;
}
.equipment .pagination {
  display: flex;
  align-self: center;
  gap: 2px;
  width: calc(100% - 310px);
  margin: 0 auto;
}
.equipment .pagination .swiper-pagination-bullet {
  height: 1px;
  width: 100%;
  background: #A0A0A0;
}
.equipment .pagination .swiper-pagination-bullet-active {
  background: #000000;
}
.equipment-prev, .equipment-next {
  cursor: pointer;
  color: #FFFFFF;
}
.equipment-prev svg, .equipment-next svg {
  height: 100%;
}
.equipment-prev:hover, .equipment-next:hover {
  color: #FFFFFF;
}
.equipment [aria-disabled=true] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
.equipment-slider {
  position: relative;
}
.equipment-wrapper {
  width: 100%;
  display: flex;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
}
.equipment-slide {
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 1;
  opacity: 0.4;
  width: calc(100% - 310px);
  border-radius: 20px;
  position: relative;
}
.equipment-slide.swiper-slide-active {
  opacity: 1;
}
.equipment-slide__description {
  position: absolute;
  bottom: 40px;
  left: 48px;
}
.equipment-slide__description h3 {
  margin-bottom: 8px;
  font-weight: 700;
}
.equipment-slide__description p {
  font-weight: 400;
}
.equipment-slide img {
  width: 100%;
}

@media screen and (max-width: 951px) {
  .services {
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding: 20px 10px;
  }
  .services .catalog {
    min-height: 542px;
    padding: 30px 10px 49px 10px;
  }
  .services .catalog__title {
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 30px;
    padding: 10px;
  }
  .services .catalog__button {
    width: 100%;
    justify-content: center;
  }
  .services .catalog__image {
    bottom: 60px;
    height: 263px;
  }
  .services__plus-img {
    top: 534px;
    left: calc(50% - 33px);
    width: unset;
    height: 66px;
  }
  .services .car-care {
    gap: 10px;
    padding: 40px 10px 10px 10px;
  }
  .services .car-care__title {
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
    padding: 0 10px;
  }
  .services .car-care__list {
    margin-bottom: 56px;
    padding: 0 10px;
    row-gap: 20px;
  }
  .services .car-care__button {
    display: none;
  }
  .services .car-care__button_mobile {
    display: block;
    text-align: center;
    width: 100%;
  }
  .services .car-care__image {
    height: 305px;
  }
}
.options {
  overflow: hidden;
  position: relative;
  margin-bottom: 140px;
  color: #000000;
}
.options__header {
  width: calc(100% - 310px);
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}
.options__header .button {
  border: 0.5px solid #A0A0A0;
  background: #FFFFFF;
}
.options__header .button_active, .options__header .button:hover {
  border-color: #FFF566;
  background: #FFF566;
}
.options__header .exterior {
  justify-content: center;
  flex-grow: 1;
}
.options__header .interior {
  justify-content: center;
  flex-grow: 1;
}
.options .controllers {
  display: flex;
  justify-content: end;
  align-items: center;
  color: #000000;
  position: absolute;
  bottom: 50px;
  right: 155px;
}
.options .controllers__pagination {
  display: flex;
  align-self: center;
  gap: 2px;
}
.options .controllers__slider {
  display: flex;
  gap: 20px;
  align-items: center;
}
.options .controllers__buttons .manager {
  background: #FFF566;
}
.options .controllers__buttons .manager:hover {
  background: #52545A;
  color: #FFF566;
}
.options .controllers__buttons .test-drive {
  border: 0.5px solid #52545A;
  color: #52545A;
}
.options .controllers__buttons .test-drive:hover {
  background: #FFF566;
  border-color: #FFF566;
}
.options-prev, .options-next {
  cursor: pointer;
  color: #52545A;
}
.options-prev svg, .options-next svg {
  height: 100%;
}
.options-prev:hover, .options-next:hover {
  color: #000000;
}
.options [aria-disabled=true] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
.options-slider {
  position: relative;
}
.options-wrapper {
  width: 100%;
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.options-slide {
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 1;
  opacity: 0.4;
  width: calc(100% - 310px);
  border-radius: 20px 20px 0 0;
}
.options-slide__description {
  width: 50%;
}
.options-slide__description h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 16px;
}
.options-slide__description p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.options-slide.swiper-slide-active {
  opacity: 1;
}
.options-slide img {
  width: 100%;
  margin-bottom: 20px;
}

.proposal {
  overflow: hidden;
  position: relative;
  margin-bottom: 140px;
  color: #000000;
}
.proposal .controllers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  width: calc(100% - 310px);
  margin: auto;
  margin-bottom: 60px;
}
.proposal .controllers__pagination {
  display: flex;
  align-self: center;
  gap: 2px;
}
.proposal .controllers__slider {
  display: flex;
  gap: 20px;
  align-items: center;
}
.proposal .controllers__buttons .manager {
  background: #FFF566;
}
.proposal .controllers__buttons .manager:hover {
  background: #52545A;
  color: #FFF566;
}
.proposal .controllers__buttons .test-drive {
  border: 0.5px solid #52545A;
  color: #52545A;
}
.proposal .controllers__buttons .test-drive:hover {
  background: #FFF566;
  border-color: #FFF566;
}
.proposal-prev, .proposal-next {
  cursor: pointer;
  color: #52545A;
}
.proposal-prev svg, .proposal-next svg {
  height: 100%;
}
.proposal-prev:hover, .proposal-next:hover {
  color: #000000;
}
.proposal [aria-disabled=true] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
.proposal-slider {
  position: relative;
}
.proposal-wrapper {
  width: 100%;
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.proposal-slide {
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 1;
  width: calc(100% - 310px);
  border-radius: 0 0 20px 20px;
}
.proposal-slide .item {
  display: flex;
  flex-direction: column;
}
.proposal-slide .item__header {
  margin-bottom: 24px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}
.proposal-slide .item__header .h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.proposal-slide .item__header .h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}
.proposal-slide .item__car {
  position: relative;
  overflow: hidden;
}
.proposal-slide .item .car {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.proposal-slide .item .car__status {
  padding: 10px 17px;
  width: max-content;
  height: max-content;
  border-radius: 10px;
  border: 0.5px solid #EBEBEB;
  align-self: end;
  justify-self: end;
  background: #FFF566;
  color: #000000;
}
.proposal-slide .item .car .more {
  position: absolute;
  top: calc(50% - 30px);
  opacity: 0;
  transition: opacity 0.2s linear;
  align-self: center;
  background: #FFFFFF;
  color: #52545A;
}
.proposal-slide .item .car .more:hover {
  background: #FFF566;
  color: #000000;
}
.proposal-slide .item .car__specs {
  position: absolute;
  bottom: 20px;
  padding: 20px;
  width: calc(100% - 40px);
  display: grid;
  grid-template-columns: max-content max-content max-content 1fr;
}
.proposal-slide .item .car__specs .car-spec {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 60px;
}
.proposal-slide .item .car__specs .car-spec:nth-child(3) {
  margin-right: 0;
}
.proposal-slide .item:hover .car .more {
  opacity: 1;
  transition: opacity 0.2s linear;
}
.proposal-slide .item__bg {
  width: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.proposal-slide .item__bg img {
  width: 100%;
  margin-bottom: 0;
  border-radius: 20px;
}
.proposal-slide img {
  width: 100%;
  margin-bottom: 20px;
}

/*# sourceMappingURL=product.css.map */
