@font-face {
    font-family: 'RF Dewi Condensed';
    src: url('../fonts/RF_Dewi/RFDewiCondensed-Regular.eot');
    src: local('RF Dewi Condensed Regular'), local('../fonts/RF_Dewi/RFDewiCondensed-Regular'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Regular.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Regular.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../fonts/RF_Dewi/RFDewiExpanded-Black.eot');
    src: local('RF Dewi Expanded Black'), local('../fonts/RF_Dewi/RFDewiExpanded-Black'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Black.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Black.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RF_Dewi/RFDewi-Ultralight.eot');
    src: local('RF Dewi Ultralight'), local('../fonts/RF_Dewi/RFDewi-Ultralight'),
    url('../fonts/RF_Dewi/RFDewi-Ultralight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewi-Ultralight.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewi-Ultralight.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewi-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RF_Dewi/RFDewi-Ultrabold.eot');
    src: local('RF Dewi Ultrabold'), local('../fonts/RF_Dewi/RFDewi-Ultrabold'),
    url('../fonts/RF_Dewi/RFDewi-Ultrabold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewi-Ultrabold.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewi-Ultrabold.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewi-Ultrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RF_Dewi/RFDewi-Black.eot');
    src: local('RF Dewi Black'), local('../fonts/RF_Dewi/RFDewi-Black'),
    url('../fonts/RF_Dewi/RFDewi-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewi-Black.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewi-Black.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewi-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: url('../fonts/RF_Dewi/RFDewiCondensed-Ultrabold.eot');
    src: local('RF Dewi Condensed Ultrabold'), local('../fonts/RF_Dewi/RFDewiCondensed-Ultrabold'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Ultrabold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Ultrabold.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Ultrabold.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Ultrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../fonts/RF_Dewi/RFDewiExpanded-Ultrabold.eot');
    src: local('RF Dewi Expanded Ultrabold'), local('../fonts/RF_Dewi/RFDewiExpanded-Ultrabold'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Ultrabold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Ultrabold.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Ultrabold.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Ultrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RF_Dewi/RFDewi-LightItalic.eot');
    src: local('RF Dewi Light Italic'), local('../fonts/RF_Dewi/RFDewi-LightItalic'),
    url('../fonts/RF_Dewi/RFDewi-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewi-LightItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewi-LightItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewi-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RF_Dewi/RFDewi-Regular.eot');
    src: local('RF Dewi Regular'), local('../fonts/RF_Dewi/RFDewi-Regular'),
    url('../fonts/RF_Dewi/RFDewi-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewi-Regular.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewi-Regular.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../fonts/RF_Dewi/RFDewiExtended-Bold.eot');
    src: local('RF Dewi Extended Bold'), local('../fonts/RF_Dewi/RFDewiExtended-Bold'),
    url('../fonts/RF_Dewi/RFDewiExtended-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExtended-Bold.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExtended-Bold.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExtended-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RF_Dewi/RFDewi-Semibold.eot');
    src: local('RF Dewi Semibold'), local('../fonts/RF_Dewi/RFDewi-Semibold'),
    url('../fonts/RF_Dewi/RFDewi-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewi-Semibold.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewi-Semibold.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewi-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../fonts/RF_Dewi/RFDewiExpanded-BlackItalic.eot');
    src: local('RF Dewi Expanded Black Italic'), local('../fonts/RF_Dewi/RFDewiExpanded-BlackItalic'),
    url('../fonts/RF_Dewi/RFDewiExpanded-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExpanded-BlackItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExpanded-BlackItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExpanded-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: url('../fonts/RF_Dewi/RFDewiCondensed-ThinItalic.eot');
    src: local('RF Dewi Condensed Thin Italic'), local('../fonts/RF_Dewi/RFDewiCondensed-ThinItalic'),
    url('../fonts/RF_Dewi/RFDewiCondensed-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiCondensed-ThinItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiCondensed-ThinItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiCondensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../fonts/RF_Dewi/RFDewiExtended-Light.eot');
    src: local('RF Dewi Extended Light'), local('../fonts/RF_Dewi/RFDewiExtended-Light'),
    url('../fonts/RF_Dewi/RFDewiExtended-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExtended-Light.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExtended-Light.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExtended-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../fonts/RF_Dewi/RFDewiExtended-Black.eot');
    src: local('RF Dewi Extended Black'), local('../fonts/RF_Dewi/RFDewiExtended-Black'),
    url('../fonts/RF_Dewi/RFDewiExtended-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExtended-Black.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExtended-Black.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExtended-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../fonts/RF_Dewi/RFDewiExtended-Regular.eot');
    src: local('RF Dewi Extended Regular'), local('../fonts/RF_Dewi/RFDewiExtended-Regular'),
    url('../fonts/RF_Dewi/RFDewiExtended-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExtended-Regular.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExtended-Regular.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExtended-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RF_Dewi/RFDewi-Bold.eot');
    src: local('RF Dewi Bold'), local('../fonts/RF_Dewi/RFDewi-Bold'),
    url('../fonts/RF_Dewi/RFDewi-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewi-Bold.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewi-Bold.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewi-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: url('../fonts/RF_Dewi/RFDewiCondensed-Semibold.eot');
    src: local('RF Dewi Condensed Semibold'), local('../fonts/RF_Dewi/RFDewiCondensed-Semibold'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Semibold.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Semibold.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: url('../fonts/RF_Dewi/RFDewiCondensed-Black.eot');
    src: local('RF Dewi Condensed Black'), local('../fonts/RF_Dewi/RFDewiCondensed-Black'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Black.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Black.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RF_Dewi/RFDewi-UltralightItalic.eot');
    src: local('RF Dewi Ultralight Italic'), local('../fonts/RF_Dewi/RFDewi-UltralightItalic'),
    url('../fonts/RF_Dewi/RFDewi-UltralightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewi-UltralightItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewi-UltralightItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewi-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../fonts/RF_Dewi/RFDewiExtended-UltralightItalic.eot');
    src: local('RF Dewi Extended Ultralight Italic'), local('../fonts/RF_Dewi/RFDewiExtended-UltralightItalic'),
    url('../fonts/RF_Dewi/RFDewiExtended-UltralightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExtended-UltralightItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExtended-UltralightItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExtended-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../fonts/RF_Dewi/RFDewiExtended-UltraboldItalic.eot');
    src: local('RF Dewi Extended Ultrabold Italic'), local('../fonts/RF_Dewi/RFDewiExtended-UltraboldItalic'),
    url('../fonts/RF_Dewi/RFDewiExtended-UltraboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExtended-UltraboldItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExtended-UltraboldItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExtended-UltraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../fonts/RF_Dewi/RFDewiExpanded-UltralightItalic.eot');
    src: local('RF Dewi Expanded Ultralight Italic'), local('../fonts/RF_Dewi/RFDewiExpanded-UltralightItalic'),
    url('../fonts/RF_Dewi/RFDewiExpanded-UltralightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExpanded-UltralightItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExpanded-UltralightItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExpanded-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: url('../fonts/RF_Dewi/RFDewiCondensed-UltraboldItalic.eot');
    src: local('RF Dewi Condensed Ultrabold Italic'), local('../fonts/RF_Dewi/RFDewiCondensed-UltraboldItalic'),
    url('../fonts/RF_Dewi/RFDewiCondensed-UltraboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiCondensed-UltraboldItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiCondensed-UltraboldItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiCondensed-UltraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../fonts/RF_Dewi/RFDewiExtended-Italic.eot');
    src: local('RF Dewi Extended Italic'), local('../fonts/RF_Dewi/RFDewiExtended-Italic'),
    url('../fonts/RF_Dewi/RFDewiExtended-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExtended-Italic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExtended-Italic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExtended-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../fonts/RF_Dewi/RFDewiExtended-Ultrabold.eot');
    src: local('RF Dewi Extended Ultrabold'), local('../fonts/RF_Dewi/RFDewiExtended-Ultrabold'),
    url('../fonts/RF_Dewi/RFDewiExtended-Ultrabold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExtended-Ultrabold.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExtended-Ultrabold.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExtended-Ultrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../fonts/RF_Dewi/RFDewiExtended-LightItalic.eot');
    src: local('RF Dewi Extended Light Italic'), local('../fonts/RF_Dewi/RFDewiExtended-LightItalic'),
    url('../fonts/RF_Dewi/RFDewiExtended-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExtended-LightItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExtended-LightItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExtended-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../fonts/RF_Dewi/RFDewiExtended-Thin.eot');
    src: local('RF Dewi Extended Thin'), local('../fonts/RF_Dewi/RFDewiExtended-Thin'),
    url('../fonts/RF_Dewi/RFDewiExtended-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExtended-Thin.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExtended-Thin.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExtended-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: url('../fonts/RF_Dewi/RFDewiCondensed-Thin.eot');
    src: local('RF Dewi Condensed Thin'), local('../fonts/RF_Dewi/RFDewiCondensed-Thin'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Thin.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Thin.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../fonts/RF_Dewi/RFDewiExpanded-BoldItalic.eot');
    src: local('RF Dewi Expanded Bold Italic'), local('../fonts/RF_Dewi/RFDewiExpanded-BoldItalic'),
    url('../fonts/RF_Dewi/RFDewiExpanded-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExpanded-BoldItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExpanded-BoldItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExpanded-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../fonts/RF_Dewi/RFDewiExtended-Semibold.eot');
    src: local('RF Dewi Extended Semibold'), local('../fonts/RF_Dewi/RFDewiExtended-Semibold'),
    url('../fonts/RF_Dewi/RFDewiExtended-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExtended-Semibold.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExtended-Semibold.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExtended-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../fonts/RF_Dewi/RFDewiExpanded-Regular.eot');
    src: local('RF Dewi Expanded Regular'), local('../fonts/RF_Dewi/RFDewiExpanded-Regular'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Regular.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Regular.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: url('../fonts/RF_Dewi/RFDewiCondensed-Ultralight.eot');
    src: local('RF Dewi Condensed Ultralight'), local('../fonts/RF_Dewi/RFDewiCondensed-Ultralight'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Ultralight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Ultralight.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Ultralight.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../fonts/RF_Dewi/RFDewiExtended-SemiboldItalic.eot');
    src: local('RF Dewi Extended Semibold Italic'), local('../fonts/RF_Dewi/RFDewiExtended-SemiboldItalic'),
    url('../fonts/RF_Dewi/RFDewiExtended-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExtended-SemiboldItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExtended-SemiboldItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExtended-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: url('../fonts/RF_Dewi/RFDewiCondensed-BlackItalic.eot');
    src: local('RF Dewi Condensed Black Italic'), local('../fonts/RF_Dewi/RFDewiCondensed-BlackItalic'),
    url('../fonts/RF_Dewi/RFDewiCondensed-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiCondensed-BlackItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiCondensed-BlackItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RF_Dewi/RFDewi-BoldItalic.eot');
    src: local('RF Dewi Bold Italic'), local('../fonts/RF_Dewi/RFDewi-BoldItalic'),
    url('../fonts/RF_Dewi/RFDewi-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewi-BoldItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewi-BoldItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewi-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../fonts/RF_Dewi/RFDewiExpanded-UltraboldItalic.eot');
    src: local('RF Dewi Expanded Ultrabold Italic'), local('../fonts/RF_Dewi/RFDewiExpanded-UltraboldItalic'),
    url('../fonts/RF_Dewi/RFDewiExpanded-UltraboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExpanded-UltraboldItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExpanded-UltraboldItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExpanded-UltraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../fonts/RF_Dewi/RFDewiExpanded-Thin.eot');
    src: local('RF Dewi Expanded Thin'), local('../fonts/RF_Dewi/RFDewiExpanded-Thin'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Thin.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Thin.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../fonts/RF_Dewi/RFDewiExpanded-Semibold.eot');
    src: local('RF Dewi Expanded Semibold'), local('../fonts/RF_Dewi/RFDewiExpanded-Semibold'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Semibold.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Semibold.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: url('../fonts/RF_Dewi/RFDewiCondensed-UltralightItalic.eot');
    src: local('RF Dewi Condensed Ultralight Italic'), local('../fonts/RF_Dewi/RFDewiCondensed-UltralightItalic'),
    url('../fonts/RF_Dewi/RFDewiCondensed-UltralightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiCondensed-UltralightItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiCondensed-UltralightItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiCondensed-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../fonts/RF_Dewi/RFDewiExpanded-LightItalic.eot');
    src: local('RF Dewi Expanded Light Italic'), local('../fonts/RF_Dewi/RFDewiExpanded-LightItalic'),
    url('../fonts/RF_Dewi/RFDewiExpanded-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExpanded-LightItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExpanded-LightItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExpanded-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: url('../fonts/RF_Dewi/RFDewiCondensed-Bold.eot');
    src: local('RF Dewi Condensed Bold'), local('../fonts/RF_Dewi/RFDewiCondensed-Bold'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Bold.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Bold.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../fonts/RF_Dewi/RFDewiExpanded-ThinItalic.eot');
    src: local('RF Dewi Expanded Thin Italic'), local('../fonts/RF_Dewi/RFDewiExpanded-ThinItalic'),
    url('../fonts/RF_Dewi/RFDewiExpanded-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExpanded-ThinItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExpanded-ThinItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExpanded-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RF_Dewi/RFDewi-ThinItalic.eot');
    src: local('RF Dewi Thin Italic'), local('../fonts/RF_Dewi/RFDewi-ThinItalic'),
    url('../fonts/RF_Dewi/RFDewi-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewi-ThinItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewi-ThinItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewi-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: url('../fonts/RF_Dewi/RFDewiCondensed-Italic.eot');
    src: local('RF Dewi Condensed Italic'), local('../fonts/RF_Dewi/RFDewiCondensed-Italic'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Italic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Italic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RF_Dewi/RFDewi-UltraboldItalic.eot');
    src: local('RF Dewi Ultrabold Italic'), local('../fonts/RF_Dewi/RFDewi-UltraboldItalic'),
    url('../fonts/RF_Dewi/RFDewi-UltraboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewi-UltraboldItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewi-UltraboldItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewi-UltraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../fonts/RF_Dewi/RFDewiExpanded-Light.eot');
    src: local('RF Dewi Expanded Light'), local('../fonts/RF_Dewi/RFDewiExpanded-Light'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Light.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Light.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../fonts/RF_Dewi/RFDewiExpanded-Italic.eot');
    src: local('RF Dewi Expanded Italic'), local('../fonts/RF_Dewi/RFDewiExpanded-Italic'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Italic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Italic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RF_Dewi/RFDewi-Light.eot');
    src: local('RF Dewi Light'), local('../fonts/RF_Dewi/RFDewi-Light'),
    url('../fonts/RF_Dewi/RFDewi-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewi-Light.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewi-Light.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewi-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../fonts/RF_Dewi/RFDewiExpanded-SemiboldItalic.eot');
    src: local('RF Dewi Expanded Semibold Italic'), local('../fonts/RF_Dewi/RFDewiExpanded-SemiboldItalic'),
    url('../fonts/RF_Dewi/RFDewiExpanded-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExpanded-SemiboldItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExpanded-SemiboldItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExpanded-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../fonts/RF_Dewi/RFDewiExtended-BoldItalic.eot');
    src: local('RF Dewi Extended Bold Italic'), local('../fonts/RF_Dewi/RFDewiExtended-BoldItalic'),
    url('../fonts/RF_Dewi/RFDewiExtended-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExtended-BoldItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExtended-BoldItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExtended-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RF_Dewi/RFDewi-Thin.eot');
    src: local('RF Dewi Thin'), local('../fonts/RF_Dewi/RFDewi-Thin'),
    url('../fonts/RF_Dewi/RFDewi-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewi-Thin.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewi-Thin.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewi-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../fonts/RF_Dewi/RFDewiExtended-BlackItalic.eot');
    src: local('RF Dewi Extended Black Italic'), local('../fonts/RF_Dewi/RFDewiExtended-BlackItalic'),
    url('../fonts/RF_Dewi/RFDewiExtended-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExtended-BlackItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExtended-BlackItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExtended-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../fonts/RF_Dewi/RFDewiExpanded-Ultralight.eot');
    src: local('RF Dewi Expanded Ultralight'), local('../fonts/RF_Dewi/RFDewiExpanded-Ultralight'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Ultralight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Ultralight.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Ultralight.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: url('../fonts/RF_Dewi/RFDewiCondensed-Light.eot');
    src: local('RF Dewi Condensed Light'), local('../fonts/RF_Dewi/RFDewiCondensed-Light'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Light.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Light.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../fonts/RF_Dewi/RFDewiExtended-Ultralight.eot');
    src: local('RF Dewi Extended Ultralight'), local('../fonts/RF_Dewi/RFDewiExtended-Ultralight'),
    url('../fonts/RF_Dewi/RFDewiExtended-Ultralight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExtended-Ultralight.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExtended-Ultralight.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExtended-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../fonts/RF_Dewi/RFDewiExtended-ThinItalic.eot');
    src: local('RF Dewi Extended Thin Italic'), local('../fonts/RF_Dewi/RFDewiExtended-ThinItalic'),
    url('../fonts/RF_Dewi/RFDewiExtended-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExtended-ThinItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExtended-ThinItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExtended-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../fonts/RF_Dewi/RFDewiExpanded-Bold.eot');
    src: local('RF Dewi Expanded Bold'), local('../fonts/RF_Dewi/RFDewiExpanded-Bold'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Bold.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Bold.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiExpanded-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RF_Dewi/RFDewi-Italic.eot');
    src: local('RF Dewi Italic'), local('../fonts/RF_Dewi/RFDewi-Italic'),
    url('../fonts/RF_Dewi/RFDewi-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewi-Italic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewi-Italic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewi-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: url('../fonts/RF_Dewi/RFDewiCondensed-SemiboldItalic.eot');
    src: local('RF Dewi Condensed Semibold Italic'), local('../fonts/RF_Dewi/RFDewiCondensed-SemiboldItalic'),
    url('../fonts/RF_Dewi/RFDewiCondensed-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiCondensed-SemiboldItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiCondensed-SemiboldItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiCondensed-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: url('../fonts/RF_Dewi/RFDewiCondensed-LightItalic.eot');
    src: local('RF Dewi Condensed Light Italic'), local('../fonts/RF_Dewi/RFDewiCondensed-LightItalic'),
    url('../fonts/RF_Dewi/RFDewiCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiCondensed-LightItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiCondensed-LightItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: url('../fonts/RF_Dewi/RFDewiCondensed-BoldItalic.eot');
    src: local('RF Dewi Condensed Bold Italic'), local('../fonts/RF_Dewi/RFDewiCondensed-BoldItalic'),
    url('../fonts/RF_Dewi/RFDewiCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewiCondensed-BoldItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewiCondensed-BoldItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewiCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RF_Dewi/RFDewi-BlackItalic.eot');
    src: local('RF Dewi Black Italic'), local('../fonts/RF_Dewi/RFDewi-BlackItalic'),
    url('../fonts/RF_Dewi/RFDewi-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewi-BlackItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewi-BlackItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewi-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RF_Dewi/RFDewi-SemiboldItalic.eot');
    src: local('RF Dewi Semibold Italic'), local('../fonts/RF_Dewi/RFDewi-SemiboldItalic'),
    url('../fonts/RF_Dewi/RFDewi-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RF_Dewi/RFDewi-SemiboldItalic.woff2') format('woff2'),
    url('../fonts/RF_Dewi/RFDewi-SemiboldItalic.woff') format('woff'),
    url('../fonts/RF_Dewi/RFDewi-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

