@use '../baseClasses';

@import '../null-css.css';
@import '../fonts.css';
@import "../constants";
@import '../../swiper-package/swiper-bundle.min.css';
@import "../components/footer.css";
@import "../scrollLayout.css";
@import "../components/header.css";
@import "../components/datapicker.css";
@import "../components/select.css";
@import "../components/checkbox.css";
@import "../components/text-input.css";
@import "../components/popup.css";
@import "../components/video-popup.css";


/* Главный экран */
.hero {
  @extend .color-white;

  background: url('../../../assets/img/header-bg.png') bottom/cover no-repeat;

  min-height: 540px;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 20px;
  position: relative;

  &__image-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__title {
    @extend .h1;

    padding: 60px 80px;
    margin-top: 52px;
    position: relative;
    z-index: 1;
  }
}


@media screen and (max-width: 768px) {
  .hero {
    align-items: center;
    min-height: 932px;
    gap: 16px;


    &__title, &__subtitle {
      text-align: center;
    }

    &__title {
      margin-top: -10px;

      font-size: 40px;
      font-weight: 400;
      line-height: 48px;
      padding: 0;

      & .br {
        display: block;
      }
    }
  }
}


.statistic {
  max-width: 1280px;
  margin: 140px auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  color: $black;

  &__history {
    grid-column-start: 1;
    grid-column-end: 3;

    & .h2 {
      margin-bottom: 16px;
    }

    & .p2 {
      max-width: 442px
    }
  }

  &__column {
    display: flex;
    flex-direction: column;

    &:nth-child(2) {
      border-right: 0.5px $gray solid;
      padding-right: 20px;
    }

    &:nth-child(3) {
      margin-left: 20px;
    }
  }

  &__block {
    border-bottom: 0.5px $gray solid;
    padding-bottom: 20px;

    & .p1 {
      color: $graphite
    }
  }

  & .mobile-year, .mobile-regions {
    display: none;
  }

  .first-block {
    padding-top: 24px;

    & .number-font {
      margin-bottom: 150px;
    }

    & .p1 {
      max-width: 429px;
    }
  }

  .second-block {
    padding-top: 164px;

    & .number-font {
      margin-bottom: 147px;
    }

    & .p1 {
      max-width: 429px;
    }
  }

  .third-block {
    padding-top: 85px;

    & .number-font {
      margin-bottom: 106px;
    }

    & .p1 {
      max-width: 429px;
    }
  }

  .fourth-block {
    padding-top: 94px;

    & .number-font {
      margin-bottom: 103px;
    }

    & .p1 {
      max-width: 360px;
    }
  }


  &__partners {
    grid-column-start: 1;
    grid-column-end: 3;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 117px;

    & img {
      height: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .statistic {
    padding: 38px 10px 20px 10px;
    margin-bottom: 80px;

    &__column {
      grid-column-start: 1;
      grid-column-end: 3;

      border-right: none !important;
      padding-right: 0 !important;

      justify-content: center;
    }

    & .third-block, & .fourth-block {
      display: none;
    }

    & .mobile-year, .mobile-regions, .second-block {
      display: block;
      width: max-content;

      padding: 38px 42px 14px 10px !important;

      & .number-font {
        font-size: 60px;
        font-weight: 200;
        line-height: 84px;

        margin-bottom: 10px;
      }
    }

    & .mobile-year, & .mobile-regions {
      align-self: end;
    }

    & .first-block {
      min-height: unset;
      border-bottom: none;

      padding-left: 10px;
      padding-right: 10px;

      height: max-content;

      & .button {
        background: $lemon;
        text-align: center;
        justify-content: center;
        width: 100%;
        border: none;
      }

      & .h2 {
        font-size: 28px;
        font-weight: 300;
        line-height: 32px;

      }
    }

    &__partners {
      margin-top: 60px;
      gap: 60px;
      overflow: auto;
      padding: 0 10px;

      & li {
        height: 36px;
      }

      & li:nth-child(2) {
        height: 21px;
      }
    }

  }
}


.advantages {
  max-width: 1280px;
  margin: 140px auto;

  color: $white;

  &__list {
    display: grid;
    grid-template-columns: minmax(216px, 1fr) minmax(216px, 1fr) minmax(216px, 1fr);
    column-gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: $graphite;

    border-radius: 14px;
    padding: 20px;

    height: 210px;

    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;

    & .sub_paragraph {
      margin-bottom: 10px;
    }
  }
}


@media screen and (max-width: 951px) {
  .advantages {
    padding: 0 10px;

    grid-template-columns: 1fr;
    row-gap: 10px;

    &__list {
      grid-template-columns: 1fr;
      row-gap: 10px;
    }

    &__item {
      background: $lemon;
      flex-direction: column-reverse;

      padding: 0 10px 32px 10px !important;

      & .br {
        display: none;
      }

      &:nth-child(2) {
        flex-direction: column;
        padding-bottom: 30px;
      }

      &:nth-child(1), &:nth-child(3) {
      }

      & .h4 {
        margin-bottom: 10px;
      }

      & .sub_paragraph {
        color: $graphite;
        padding-right: 100px;
        display: block;
      }

      & .number-font {
        text-align: right;
        position: static !important;

        margin-bottom: 4px;

        font-size: 60px;
        font-weight: 200;
        line-height: 77px;
      }
    }
  }
}


.why-us {
  justify-content: center;

  max-width: 1280px;
  margin: 140px auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $black;
    max-width: 50%;

    margin-bottom: 60px;

    grid-column-start: 1;
    grid-column-end: 3;
  }

  &__controllers {
    display: flex;
    gap: 20px;
    color: $black;
    position: absolute;
    bottom: 20px;
    padding: 0 20px;

    width: 100%;
    justify-content: space-between;

    & .why-us-buttons {
      display: flex;
      gap: 20px;
      color: $black;

      margin: 0 12px 12px 0;
    }

    & .why-us-pagination {

      margin-bottom: 10px;

      & .swiper-pagination-bullet {
        width: 44px;
        height: 44px;
        color: $black;
        background: $light-gray-200;
        opacity: 1;
        line-height: 10px;

        border: 0.5px solid $gray;
        margin: 0 8px 0 0;

        display: inline-flex;
        justify-content: center;
        align-items: center;

        font-size: 13px;
      }

      & .swiper-pagination-bullet-active {
        background: $lemon;
        border-color: $lemon;
      }
    }
  }

  &-prev, &-next {
    cursor: pointer;

    & svg {
      height: 100%;
    }
  }

  & [aria-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }

  &-text-slider, &-photo-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  &-text-wrapper, &-photo-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  &-text-slide {
    padding: 40px 20px 80px 20px;
  }

  &-text-slide, &-photo-slide {
    background: $light-gray-200;
    border-radius: 14px;
    overflow: hidden;

    color: $graphite;

    width: 100%;

    flex-shrink: 0;
    flex-grow: 1;

    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;

    & .h4 {
      font-size: 16px;
      font-weight: 700;
      line-height: 19.2px;

      margin-bottom: 16px;
    }


    & img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 951px) {
  .advantages {
    padding: 0 10px;

    grid-template-columns: 1fr;
    row-gap: 10px;

    &__list {
      grid-template-columns: 1fr;
      row-gap: 10px;
    }

    &__item {
      background: $lemon;
      flex-direction: column-reverse;

      padding: 0 10px 32px 10px !important;

      & .br {
        display: none;
      }

      &:nth-child(2) {
        flex-direction: column;
        padding-bottom: 30px;
      }

      &:nth-child(1), &:nth-child(3) {
      }

      & .h4 {
        margin-bottom: 10px;
      }

      & .sub_paragraph {
        color: $graphite;
        padding-right: 100px;
        display: block;
      }

      & .number-font {
        text-align: right;
        position: static !important;

        margin-bottom: 4px;

        font-size: 60px;
        font-weight: 200;
        line-height: 77px;
      }
    }
  }
}

.what-us {
  max-width: 1280px;
  margin: 140px auto;


  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;


  &__header {
    grid-column-start: 1;
    grid-column-end: 3;

    color: $black;
    margin-bottom: 60px;
    width: 50%;

    & .h2 {
      margin-bottom: 16px;
      max-width: 500px;
    }
  }

  // slider
  &-slider {
    position: relative;
    height: 424px;

    border-radius: 20px;
    overflow: hidden;
  }

  &-wrapper {
    width: 100%;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;

  }

  &-slide {
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 1;
    opacity: 0.4;

    position: relative;

    &.swiper-slide-active {
      opacity: 1;
    }

    &__description {
      position: absolute;
      bottom: 40px;
      left: 48px;

      & h3 {
        margin-bottom: 8px;
        font-weight: 700;
      }

      & p {
        font-weight: 400;
      }
    }

    & img {
      width: 100%;
      object-fit: cover;
    }
  }


  &-description {
    color: $graphite;
    display: flex;
    gap: 20px;
    flex-direction: column;

    &__item {
      padding: 30px 60px 30px 20px;
      border-radius: 14px;
      background: $light-gray-200;

      position: relative;

      min-height: 128px;
      cursor: pointer;

      & h4 {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;

        margin-bottom: 8px;
        color: $black;
      }

      & .p2 {
        max-width: 370px;
      }

      & .icon {
        position: absolute;
        right: 20px;
        top: 20px;
      }

      &_active {
        background: $lemon;
      }
    }

  }
}


@media screen and (max-width: 768px) {
  .statistic {
    padding: 38px 10px 20px 10px;
    margin-bottom: 80px;

    &__column {
      grid-column-start: 1;
      grid-column-end: 3;

      border-right: none !important;
      padding-right: 0 !important;

      justify-content: center;
    }

    & .third-block, & .fourth-block {
      display: none;
    }

    & .mobile-year, .mobile-regions, .second-block {
      display: block;
      width: max-content;

      padding: 38px 42px 14px 10px !important;

      & .number-font {
        font-size: 60px;
        font-weight: 200;
        line-height: 84px;

        margin-bottom: 10px;
      }
    }

    & .mobile-year, & .mobile-regions {
      align-self: end;
    }

    & .first-block {
      min-height: unset;
      border-bottom: none;

      padding-left: 10px;
      padding-right: 10px;

      height: max-content;

      & .button {
        background: $lemon;
        text-align: center;
        justify-content: center;
        width: 100%;
        border: none;
      }

      & .h2 {
        font-size: 28px;
        font-weight: 300;
        line-height: 32px;

      }
    }

    &__partners {
      margin-top: 60px;
      gap: 60px;
      overflow: auto;
      padding: 0 10px;

      & li {
        height: 36px;
      }

      & li:nth-child(2) {
        height: 21px;
      }
    }

  }
}


.preview-container {
  width: 100%;
  background: $black;
  border-radius: 20px 20px 0 0;

  .preview {


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 140px 0;
    column-gap: 20px;
    row-gap: 20px;

    max-width: 1280px;
    margin: auto;

    &__header {
      grid-column-start: 1;
      grid-column-end: 5;

      width: 50%;
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__block {
      min-height: 530px;

      background: $dark-gray;
      border-radius: 20px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:hover {
        background: $lemon;
        color: $black;
      }

      & .h4 {
        padding: 40px 40px 40px 10px;
      }

      &:nth-child(5) {
        & .h4 {
          padding: 0 10px;
          margin-bottom: 12px;
        }

        & .p2 {
          padding: 0 10px 40px 10px;
          margin-bottom: 12px;
        }
      }
    }

    // slider
    & .controllers {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $white;

      &__pagination {
        display: flex;
        align-self: center;
        gap: 2px;
      }

      &__slider {
        display: flex;
        gap: 10px;
      }


      & .button {
        border: 0.5px solid $gray;
        color: $white;

        & svg {
          color: $lemon
        }

        &:hover {
          background: $lemon;
          border-color: $lemon;
          color: $black;

          & svg {
            color: $black;
          }
        }

      }
    }

    &-prev, &-next {
      cursor: pointer;

      & svg {
        height: 100%;
      }

      color: $white;
    }

    & [aria-disabled="true"] {
      opacity: 0.5;
      pointer-events: none;
      cursor: not-allowed;
    }

    &-slider {
      position: relative;
      grid-column-start: 1;
      grid-column-end: 5;

      color: $white;

      margin-top: 40px;
    }

    &-wrapper {
      width: 100%;
      display: flex;
      transition: transform 0.3s ease-in-out;
      margin-bottom: 20px;
    }

    &-slide {
      overflow: hidden;
      flex-shrink: 0;
      flex-grow: 1;

      & img {
        width: 590px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;

    max-width: 1280px;
    margin: 0 auto 200px auto;

    &__header {
      padding: 0 10px;
      margin-bottom: 50px;

      & .h2 {
        font-size: 28px;
        font-weight: 300;
        line-height: 32px;
      }

      & .br {
        display: none;
      }
    }

    &__block {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 30px 10px 10px 10px !important;

      & .button {
        background: $lemon;
        color: $black;
        width: 100%;
        justify-content: center;
      }

      & .photo {
        display: none;
      }

      & .h4 {
        margin-bottom: 0 !important;
        padding-top: 0 !important;
      }

      & .datetime {
        margin-bottom: 18px;
        padding-top: 0 !important;
      }

      & .location {
        padding: 30px 0;
      }
    }
  }
}


.command-container {
  background: $white;
  padding: 140px 0;
  border-radius: 20px 20px 0 0;

  .command {
    max-width: 1280px;
    margin: auto;

    &__header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      color: $black;

      margin-bottom: 60px;
    }

    &__persons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;

      color: $black;

      & .person {
        width: 100%;

        & .h4 {
          margin-bottom: 6px;
        }

        & span {
          display: block;
          margin-bottom: 16px;
          color: $gray;
        }

        & p {
          color: $graphite
        }

        & img {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .feedback {
    padding: 0 10px;
    margin-bottom: 100px;

    &__header {
      margin: 0 10px 40px 10px;

      & .h2 {
        font-size: 28px;
        font-weight: 300;
        line-height: 32px;
      }
    }

    &__controllers {
      height: 20px;
    }
  }
}


.animation-logo-about {
  background: $graphite;
  position: relative;
  color: $lemon;

  .motion {
    position: sticky;
    top: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }

  & .motion-block {
    position: absolute;
    top: calc(50% - 65px);
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;


    .motion-wrapper {
      position: relative;
      width: 100%;

      .logo-wrapper, .logo-wrapper-mobile {
        overflow: hidden;
        position: absolute;
      }

      & .left-arrow, .p-word, .right-arrow {
        margin-top: 22px;
      }

      & .left-arrow-mobile, .right-arrow-mobile {
        margin-top: 10px;
      }

      & .p-word-mobile {
        margin-top: 12px;
      }

      & .left-arrow, .p-word, .right-arrow, .text, .p-title, .left-arrow-mobile, .p-word-mobile, .right-arrow-mobile, .text-mobile, .p-title-mobile {
        position: absolute;
      }

      & .text {
        text-align: center;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .animation-logo {
    min-height: 155vh;

    & .motion-block {
      & .text {
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;

        margin-top: -14px;
      }
    }
  }
}


.contacts {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  color: $black;


  max-width: 1280px;
  margin: 140px auto;

  &__title {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 60px;
  }

  &__info {
    background: $light-gray;
    border-radius: 20px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    & .contacts__location {
      display: flex;
      flex-direction: column;
      gap: 20px;

      padding-top: 10px;

      & .h4{
        & svg{
          margin-right: 4px;}
      }
    }

    & .contacts__questions {
      display: flex;
      flex-direction: column;
      gap: 16px;

      & .contacts__button {
        width: max-content;
        margin-top: 20px;
        background: $lemon;

        &:hover {
          background: $graphite;
          color: $lemon;
        }
      }
    }
  }

  &__image {
    width: 100%;
  }
}


@media screen and (max-width: 1100px) {
  .contacts {
    margin: 0 10px 40px 10px;
    grid-template-columns: 1fr;
    column-gap: 0;

    &__title {
      text-align: left;
      margin-bottom: 40px;
      padding: 0 10px;

      font-size: 28px;
      font-weight: 300;
      line-height: 32px;


      & .br {
        display: none
      }
    }

    &__image {
      display: none;
    }

    &__info {
      background: unset;
      padding: unset;
      gap: 0;

      & .contacts__location {
        align-items: center;
        padding: 0 10px;
        margin-bottom: 20px;
      }

      & .info__image_mobile {
        display: block;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;

        margin-bottom: 10px;
      }

      & .contacts__phone {
        margin-left: 10px;
      }

      & .contacts__time {
        margin-right: 10px;
      }

      & .contacts__messengers {
        padding: 60px 10px;

        & a {
          &:hover {
            background: $graphite;

            & svg {
              color: $lemon;
            }
          }
        }
      }

      & .contacts__button {
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;

        grid-row-start: 3;

        grid-column-start: 1;
        grid-column-end: 3;
      }
    }


  }
}