@charset "UTF-8";
@import '../null-css.css';
@import '../fonts.css';
/* Переменные */
/* Базовые цвета */
/* Акцентный цвет */
/* Шрифты */
@import '../../swiper-package/swiper-bundle.min.css';
@import "../components/footer.css";
@import "../scrollLayout.css";
@import "../components/header.css";
@import "../components/datapicker.css";
@import "../components/select.css";
@import "../components/checkbox.css";
@import "../components/text-input.css";
@import "../components/popup.css";
@import "../components/video-popup.css";
@import "../components/toggle.css";
/* Переменные */
/* Базовые цвета */
/* Акцентный цвет */
/* Шрифты */
/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "RF Dewi Expanded";
  color: #FFFFFF;
}

.flex {
  display: flex;
}

.h1 {
  font-size: 60px;
  line-height: 60px;
  font-family: "TTAutonomous-Trial";
  font-weight: 400;
}

.h2 {
  font-size: 36px;
  line-height: 42px;
  font-family: "TTAutonomous-Trial";
  font-weight: 300;
}

.h3 {
  font-size: 24px;
  line-height: 28.8px;
  font-family: "RF Dewi Expanded";
  font-weight: 400;
}

.h4 {
  font-size: 16px;
  line-height: 19.2px;
  font-family: "RF Dewi Expanded";
  font-weight: 700;
}

.p1 {
  font-size: 14px;
  line-height: 16.8px;
  font-family: "RF Dewi Expanded";
  font-weight: 400;
}

.p2 {
  font-size: 12px;
  line-height: 16px;
  font-family: "RF Dewi Expanded";
  font-weight: 400;
}

.number-font {
  font-size: 110px;
  line-height: 154px;
  font-family: "TTAutonomous-Trial";
  font-weight: 200;
}

.menu-font {
  font-size: 30px;
  line-height: 36px;
  font-family: "RF Dewi Expanded";
  font-weight: 400;
}

.button-font, .button {
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 700;
}

.error {
  background: rgba(246, 74, 10, 0.1019607843) !important;
}

.button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 23px 26px;
  border-radius: 14px;
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
}
.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
}
.mobile-inline {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-inline {
    display: inline-flex;
  }
}
.color-white {
  color: #FFFFFF;
}

.i-color-white {
  color: #FFFFFF !important;
}

.bg-white {
  background: #FFFFFF;
}

.i-bg-white {
  background: #FFFFFF !important;
}

.color-black {
  color: #000000;
}

.i-color-black {
  color: #000000 !important;
}

.bg-black {
  background: #000000;
}

.i-bg-black {
  background: #000000 !important;
}

.color-dark-gray {
  color: #141414;
}

.i-color-dark-gray {
  color: #141414 !important;
}

.bg-dark-gray {
  background: #141414;
}

.i-bg-dark-gray {
  background: #141414 !important;
}

.color-light-gray {
  color: #EBEBEB;
}

.i-color-light-gray {
  color: #EBEBEB !important;
}

.bg-light-gray {
  background: #EBEBEB;
}

.i-bg-light-gray {
  background: #EBEBEB !important;
}

.color-gray {
  color: #A0A0A0;
}

.i-color-gray {
  color: #A0A0A0 !important;
}

.bg-gray {
  background: #A0A0A0;
}

.i-bg-gray {
  background: #A0A0A0 !important;
}

.color-graphite {
  color: #52545A;
}

.i-color-graphite {
  color: #52545A !important;
}

.bg-graphite {
  background: #52545A;
}

.i-bg-graphite {
  background: #52545A !important;
}

.color-lemon {
  color: #FFF566;
}

.i-color-lemon {
  color: #FFF566 !important;
}

.bg-lemon {
  background: #FFF566;
}

.i-bg-lemon {
  background: #FFF566 !important;
}

.color-orange {
  color: #F64A0A;
}

.i-color-orange {
  color: #F64A0A !important;
}

.bg-orange {
  background: #F64A0A;
}

.i-bg-orange {
  background: #F64A0A !important;
}

.color-error {
  color: rgba(246, 74, 10, 0.1019607843);
}

.i-color-error {
  color: rgba(246, 74, 10, 0.1019607843) !important;
}

.bg-error {
  background: rgba(246, 74, 10, 0.1019607843);
}

.i-bg-error {
  background: rgba(246, 74, 10, 0.1019607843) !important;
}

.header {
  top: 0;
  background: #FFFFFF;
}
.header__logo, .header__container, .header__button {
  color: #000000;
}
.header__logo .header__button, .header__logo .header__logo, .header__container .header__button, .header__container .header__logo, .header__button .header__button, .header__button .header__logo {
  color: #000000;
}
.header__logo_visible, .header__container_visible, .header__button_visible {
  color: #FFFFFF;
}
.header__logo_visible .header__button, .header__logo_visible .header__logo, .header__container_visible .header__button, .header__container_visible .header__logo, .header__button_visible .header__button, .header__button_visible .header__logo {
  color: #FFFFFF;
}
.header__logo_visible .header__nav .messengers a:hover, .header__container_visible .header__nav .messengers a:hover, .header__button_visible .header__nav .messengers a:hover {
  background: #FFF566;
}
.header__logo_visible .header__nav .messengers a:hover svg, .header__container_visible .header__nav .messengers a:hover svg, .header__button_visible .header__nav .messengers a:hover svg {
  color: #000000;
}
.header__logo_visible .header__nav .messengers a svg, .header__container_visible .header__nav .messengers a svg, .header__button_visible .header__nav .messengers a svg {
  color: #FFF566;
}
.header__nav .burger:after, .header__nav .burger:before {
  background: #000000;
}
.header__nav .messengers a {
  background: unset;
}
.header__nav .messengers a svg {
  color: #000000;
}
.header__nav_visible {
  color: #FFFFFF;
}
.header__nav .burger_visible:after, .header__nav .burger_visible:before {
  background: #FFFFFF;
}

.catalog {
  max-width: 1440px;
  margin: auto;
  padding: 210px 20px;
  color: #000000;
}
.catalog__main {
  display: flex;
  flex-wrap: wrap;
}
.catalog__title {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 60px;
}
.catalog__items {
  flex-grow: 1;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 60px;
}
.catalog .filters {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.catalog .filters__list {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.catalog .filters__list li {
  margin-bottom: 14px;
  width: max-content;
}
.catalog .filters__list li.active, .catalog .filters__list li:hover {
  margin-bottom: 8px;
  padding-bottom: 4px;
  border-bottom: 2px solid #000000;
}
.catalog .filters__checkbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.catalog .filters__checkbox .custom-checkbox {
  color: #FFFFFF;
  margin-right: 10px;
}
.catalog .filters .select {
  display: none;
}
.catalog .item {
  display: flex;
  flex-direction: column;
}
.catalog .item__header {
  margin-bottom: 24px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog .item__header .h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.catalog .item__header .h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}
.catalog .item__car {
  position: relative;
  overflow: hidden;
}
.catalog .item .car {
  color: #FFFFFF;
  width: 867px;
  height: 440px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.catalog .item .car__status {
  padding: 10px 17px;
  width: max-content;
  border-radius: 10px;
  border: 0.5px solid #EBEBEB;
}
.catalog .item .car .more {
  opacity: 0;
  transition: opacity 0.2s linear;
  align-self: center;
  background: #FFFFFF;
  color: #52545A;
}
.catalog .item .car .more:hover {
  background: #FFF566;
  color: #000000;
}
.catalog .item .car__specs {
  display: grid;
  grid-template-columns: max-content max-content max-content 1fr;
  column-gap: 60px;
  align-items: end;
}
.catalog .item .car__specs .spec {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.catalog .item .car__specs .spec .speed-mobile {
  display: none;
}
.catalog .item .car__specs .spec .speed-desc {
  display: block;
}
.catalog .item .car__specs .button {
  justify-self: end;
  width: max-content;
  background: #FFF566;
  color: #000000;
}
.catalog .item .car__specs .button:hover {
  background: #52545A;
  color: #FFF566;
}
.catalog .item .mobile-actions {
  display: none;
}
.catalog .item:hover .car .more {
  opacity: 1;
  transition: opacity 0.2s linear;
}
.catalog .item__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog .item__bg img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1300px) {
  .catalog {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 1130px) {
  .catalog {
    padding: 100px 10px;
  }
  .catalog__title {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    padding: 0 10px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .catalog .filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    padding: 0 10px;
    margin-bottom: 60px;
  }
  .catalog .filters__list, .catalog .filters .toggle {
    display: none;
  }
  .catalog .filters .select {
    display: block;
  }
  .catalog .filters__checkbox {
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 17px;
  }
  .catalog__items {
    min-width: 100%;
  }
  .catalog .item {
    width: 100%;
  }
  .catalog .item__header {
    padding: 0 10px;
    margin-bottom: 16px;
  }
  .catalog .item__header .h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
  }
  .catalog .item__header .h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
  }
  .catalog .item .car {
    height: 258px;
    width: 100%;
    margin-bottom: 9px;
    border-radius: 14px;
    overflow: hidden;
    padding: 10px;
  }
  .catalog .item .car__status {
    padding: 5px 13.5px;
    font-size: 8px;
    font-weight: 700;
    line-height: 16px;
  }
  .catalog .item .car__specs {
    display: grid;
    grid-template-columns: max-content max-content max-content 1fr;
    column-gap: 40px;
    align-items: end;
    padding: 6px 10px;
  }
  .catalog .item .car__specs .spec {
    gap: 0;
    font-size: 8px;
    font-weight: 400;
    line-height: 9.6px;
  }
  .catalog .item .car__specs .spec .h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .catalog .item .car__specs .spec .speed-mobile {
    display: block;
  }
  .catalog .item .car__specs .spec .speed-desc {
    display: none;
  }
  .catalog .item .car__specs .spec:nth-child(2) {
    order: 3;
  }
  .catalog .item .car__specs .button {
    display: none;
  }
  .catalog .item .mobile-actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
  .catalog .item .mobile-actions .button {
    width: 100%;
    justify-self: end;
    justify-content: center;
    background: #FFF566;
    color: #000000;
    gap: 10px;
  }
  .catalog .item .mobile-actions .button:hover {
    background: #52545A;
    color: #FFF566;
  }
  .catalog .item .mobile-actions .more {
    align-self: center;
    color: #000000;
    background: #FFFFFF;
    border: 0.5px solid #A0A0A0;
  }
  .catalog .item .mobile-actions .more:hover {
    color: #000000;
    background: #FFF566;
    border-color: #FFF566;
  }
}
.advantages {
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 32px 20px;
  column-gap: 20px;
  row-gap: 20px;
  color: #000000;
  overflow: hidden;
}
.advantages__header {
  grid-column-start: 1;
  grid-column-end: 5;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.advantages__header .h2 {
  padding-right: 40px;
}
.advantages__block {
  min-height: 500px;
  position: relative;
  overflow: hidden;
  color: #000000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: -1px 6px 34px -10px rgba(34, 60, 80, 0.16);
}
.advantages__block .number-font {
  position: relative;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.advantages__block .h4 {
  padding: 40px 10px;
  transition: all 0.3s ease-in-out;
}
.advantages__block .p2 {
  transition: all 0.3s ease-in-out;
  max-height: 0;
}
.advantages__block .mobile-text {
  display: none;
}
.advantages__block:hover {
  background: #FFF566;
  color: #000000;
}
.advantages__block:hover .number-font {
  position: relative;
  left: -30px;
  transition: all 0.3s ease-in-out;
}
.advantages__block:hover .h4 {
  padding: 0 10px;
  margin-bottom: 12px;
  transition: all 0.3s ease-in-out;
}
.advantages__block:hover .p2 {
  transition: all 0.3s ease-in-out;
  max-height: 100px;
  padding: 0 10px 40px 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1300px) {
  .advantages {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .advantages {
    padding: 0 10px;
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-bottom: 3px;
  }
  .advantages__header {
    width: 100%;
    padding: 0 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-bottom: 30px;
  }
  .advantages__header .h2 {
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
    padding-right: 0;
  }
  .advantages__block {
    min-height: unset;
    position: relative;
    overflow: hidden;
    background: #FFF566;
    color: #000000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -1px 6px 34px -10px rgba(34, 60, 80, 0.16);
  }
  .advantages__block .number-font {
    font-size: 60px;
    font-weight: 200;
    line-height: 75px;
    text-align: end;
    margin-right: 10px;
  }
  .advantages__block .h4 {
    padding: 4px 10px 10px 10px;
  }
  .advantages__block .p2 {
    display: none;
  }
  .advantages__block .mobile-text {
    max-height: 100px;
    display: block;
    padding: 0 10px;
    margin-bottom: 30px;
  }
  .advantages__block:hover {
    background: #FFF566;
    color: #000000;
  }
  .advantages__block:hover .number-font {
    position: unset;
    left: unset;
  }
  .advantages__block:hover .h4 {
    padding: 10px;
    margin-bottom: 0;
  }
  .advantages__block:hover .p2 {
    max-height: 100px;
    padding: 0 10px;
    margin-bottom: 20px;
  }
}
.preview {
  max-width: 1440px;
  margin: auto;
  padding: 110px 20px 140px 20px;
  color: #000000;
}
.preview__header {
  margin-bottom: 60px;
  max-width: 462px;
}
.preview__main {
  display: flex;
  gap: 20px;
}
.preview__main .loyalty, .preview__main .new-cars {
  background: #EBEBEB;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.preview__main .loyalty .h3, .preview__main .new-cars .h3 {
  width: 275px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.preview__main .loyalty .button, .preview__main .new-cars .button {
  border: 0.5px solid #A0A0A0;
  width: max-content;
}
.preview__main .loyalty .button:hover, .preview__main .new-cars .button:hover {
  background: #FFF566;
  border-color: #FFF566;
}
.preview__main .loyalty {
  flex-grow: 0.56;
}
.preview__main .loyalty svg {
  position: absolute;
  top: 0;
  right: 0;
}
.preview__main .loyalty .button:hover {
  background: #FFF566;
  border-color: #FFF566;
}
.preview__main .new-cars {
  flex-grow: 2;
}
.preview__main .new-cars img {
  position: absolute;
  top: 20px;
  right: 20px;
  height: calc(100% - 40px);
}

@media screen and (max-width: 1300px) {
  .preview {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 970px) {
  .preview {
    padding: 100px 10px 100px 10px;
    color: #000000;
  }
  .preview__header {
    margin-bottom: 40px;
    padding: 0 10px;
  }
  .preview__header .h2 {
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
  }
  .preview__main {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .preview__main .loyalty, .preview__main .new-cars {
    padding: 20px 10px 10px 10px;
  }
  .preview__main .loyalty .h3, .preview__main .new-cars .h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    margin-bottom: 30px;
  }
  .preview__main .loyalty {
    height: 218px;
  }
  .preview__main .loyalty svg {
    top: -15px;
    right: -15px;
  }
  .preview__main .new-cars {
    height: unset;
    flex-direction: column;
    gap: 10px;
  }
  .preview__main .new-cars img {
    position: static;
    height: 210px;
  }
  .preview__main .new-cars .button {
    order: 2;
    width: 100%;
    background: #FFF566;
    border-color: #FFF566;
    justify-content: center;
  }
}

/*# sourceMappingURL=catalog.css.map */
