@charset "UTF-8";
@import '../null-css.css';
@import '../fonts.css';
/* Переменные */
/* Базовые цвета */
/* Акцентный цвет */
/* Шрифты */
@import '../../swiper-package/swiper-bundle.min.css';
@import "../components/footer.css";
@import "../scrollLayout.css";
@import "../components/header.css";
@import "../components/datapicker.css";
@import "../components/select.css";
@import "../components/checkbox.css";
@import "../components/text-input.css";
@import "../components/popup.css";
@import "../components/video-popup.css";
@import "../components/toggle.css";
/* Переменные */
/* Базовые цвета */
/* Акцентный цвет */
/* Шрифты */
/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "RF Dewi Expanded";
  color: #FFFFFF;
}

.flex {
  display: flex;
}

.h1 {
  font-size: 60px;
  line-height: 60px;
  font-family: "TT Autonomous Trl";
  font-weight: 400;
}

.h2 {
  font-size: 36px;
  line-height: 42px;
  font-family: "TT Autonomous Trl";
  font-weight: 300;
}

.h3 {
  font-size: 24px;
  line-height: 28.8px;
  font-family: "RF Dewi Expanded";
  font-weight: 400;
}

.h4 {
  font-size: 16px;
  line-height: 19.2px;
  font-family: "RF Dewi Expanded";
  font-weight: 700;
}

.p1 {
  font-size: 14px;
  line-height: 16.8px;
  font-family: "RF Dewi Expanded";
  font-weight: 400;
}

.p2 {
  font-size: 12px;
  line-height: 16px;
  font-family: "RF Dewi Expanded";
  font-weight: 400;
}

.number-font {
  font-size: 110px;
  line-height: 154px;
  font-family: "TT Autonomous Trl";
  font-weight: 200;
}

.menu-font {
  font-size: 30px;
  line-height: 36px;
  font-family: "RF Dewi Expanded";
  font-weight: 400;
}

.button-font, .button {
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 700;
}

.error {
  background: rgba(246, 74, 10, 0.1019607843) !important;
}

.button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 23px 26px;
  border-radius: 14px;
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
}
.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
}
.color-white, .hero {
  color: #FFFFFF;
}

.i-color-white {
  color: #FFFFFF !important;
}

.bg-white {
  background: #FFFFFF;
}

.i-bg-white {
  background: #FFFFFF !important;
}

.color-black {
  color: #000000;
}

.i-color-black {
  color: #000000 !important;
}

.bg-black {
  background: #000000;
}

.i-bg-black {
  background: #000000 !important;
}

.color-dark-gray {
  color: #141414;
}

.i-color-dark-gray {
  color: #141414 !important;
}

.bg-dark-gray {
  background: #141414;
}

.i-bg-dark-gray {
  background: #141414 !important;
}

.color-light-gray {
  color: #EBEBEB;
}

.i-color-light-gray {
  color: #EBEBEB !important;
}

.bg-light-gray {
  background: #EBEBEB;
}

.i-bg-light-gray {
  background: #EBEBEB !important;
}

.color-gray {
  color: #A0A0A0;
}

.i-color-gray {
  color: #A0A0A0 !important;
}

.bg-gray {
  background: #A0A0A0;
}

.i-bg-gray {
  background: #A0A0A0 !important;
}

.color-graphite {
  color: #52545A;
}

.i-color-graphite {
  color: #52545A !important;
}

.bg-graphite {
  background: #52545A;
}

.i-bg-graphite {
  background: #52545A !important;
}

.color-lemon {
  color: #FFF566;
}

.i-color-lemon {
  color: #FFF566 !important;
}

.bg-lemon {
  background: #FFF566;
}

.i-bg-lemon {
  background: #FFF566 !important;
}

.color-orange {
  color: #F64A0A;
}

.i-color-orange {
  color: #F64A0A !important;
}

.bg-orange {
  background: #F64A0A;
}

.i-bg-orange {
  background: #F64A0A !important;
}

.color-error {
  color: rgba(246, 74, 10, 0.1019607843);
}

.i-color-error {
  color: rgba(246, 74, 10, 0.1019607843) !important;
}

.bg-error {
  background: rgba(246, 74, 10, 0.1019607843);
}

.i-bg-error {
  background: rgba(246, 74, 10, 0.1019607843) !important;
}

.header__button {
  background: #FFF566;
  color: #000000;
}
.header__button svg {
  color: #000000;
}
.header__button_premium {
  background: unset;
  color: #FFFFFF;
}
.header__button_premium svg {
  color: #F64A0A;
}

/* Главный экран */
.hero {
  background: url("../../../assets/img/electro-service/hero-image-1.png") bottom/cover no-repeat;
  min-height: 790px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  position: relative;
}
.hero__image-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hero__image-container img {
  width: 100%;
}
.hero .p1, .hero .button, .hero__title {
  position: relative;
  z-index: 1;
  margin: 0 80px;
}
.hero__title {
  margin-top: 87px;
}
.hero__button {
  display: block;
  padding: 26px 23px;
  border: 0.5px solid #A0A0A0;
  flex-shrink: 1;
}
.hero .p1 {
  max-width: 540px;
  margin: 0 0 20px 80px;
}

@media screen and (max-width: 768px) {
  .hero {
    align-items: center;
    min-height: 932px;
    gap: 16px;
  }
  .hero__title, .hero__subtitle {
    text-align: center;
  }
  .hero__title {
    margin-top: -10px;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    padding: 0;
  }
  .hero__title .br {
    display: block;
  }
}
.brands {
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 140px;
  padding-top: 140px;
  color: #000000;
}
.brands__header {
  display: flex;
  margin-bottom: 60px;
  align-items: center;
}
.brands__header .h2 {
  width: 524px;
}
.brands__header .p1 {
  width: 400px;
}
.brands__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 20px;
}
.brands__list .brand {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.5px solid #A0A0A0;
}

@media screen and (max-width: 951px) {
  .brands {
    padding: 0 10px;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  .brands__list {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  .brands__item {
    background: #FFF566;
    flex-direction: column-reverse;
    padding: 0 10px 32px 10px !important;
  }
  .brands__item .br {
    display: none;
  }
  .brands__item:nth-child(2) {
    flex-direction: column;
    padding-bottom: 30px;
  }
  .brands__item .h4 {
    margin-bottom: 10px;
  }
  .brands__item .sub_paragraph {
    color: #52545A;
    padding-right: 100px;
    display: block;
  }
  .brands__item .number-font {
    text-align: right;
    position: static !important;
    margin-bottom: 4px;
    font-size: 60px;
    font-weight: 200;
    line-height: 77px;
  }
}
.services {
  width: 1280px;
  margin: 140px auto;
  color: #000000;
}
.services__header {
  margin-bottom: 60px;
}
.services__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.services__item {
  display: grid;
  grid-template-columns: 394px 452px 1fr 20px;
  align-items: center;
  background: #F6F6F6;
  border-radius: 20px;
  padding: 40px;
}
.services__item .price {
  font-size: 12px;
  font-weight: 700;
  line-height: 14.4px;
  justify-self: center;
}
.services__item .arrow {
  justify-self: end;
}
.services__item:hover {
  background: #FFF566;
}

@media screen and (max-width: 951px) {
  .services {
    padding: 0 10px;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  .services__list {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  .services__item {
    background: #FFF566;
    flex-direction: column-reverse;
    padding: 0 10px 32px 10px !important;
  }
  .services__item .br {
    display: none;
  }
  .services__item:nth-child(2) {
    flex-direction: column;
    padding-bottom: 30px;
  }
  .services__item .h4 {
    margin-bottom: 10px;
  }
  .services__item .sub_paragraph {
    color: #52545A;
    padding-right: 100px;
    display: block;
  }
  .services__item .number-font {
    text-align: right;
    position: static !important;
    margin-bottom: 4px;
    font-size: 60px;
    font-weight: 200;
    line-height: 77px;
  }
}
.important {
  background: #000000;
  border-radius: 20px 20px 0 0;
  justify-content: center;
  width: 100%;
  padding-bottom: 140px;
}
.important__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 140px 400px 60px 0;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 1280px;
  margin: 0 auto;
}
.important__main {
  width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
.important__controllers {
  display: flex;
  gap: 20px;
  color: #000000;
  position: absolute;
  bottom: 30px;
  padding: 0 20px 0 40px;
  width: 100%;
  justify-content: space-between;
}
.important__controllers .important-buttons {
  display: flex;
  gap: 20px;
  color: #A0A0A0;
  margin: 12px;
}
.important__controllers .important-pagination .swiper-pagination-bullet {
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #A0A0A0;
  background: #141414;
  opacity: 1;
  line-height: 10px;
  font-size: 13px;
  border: 0.5px solid #A0A0A0;
  margin: 0 8px 0 0;
}
.important__controllers .important-pagination .swiper-pagination-bullet-active {
  background: #FFF566;
  border-color: #FFF566;
  color: #000000;
}
.important-prev, .important-next {
  cursor: pointer;
}
.important-prev svg, .important-next svg {
  height: 100%;
}
.important [aria-disabled=true] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
.important-text-slider, .important-photo-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.important-text-wrapper, .important-photo-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.important-text-slide {
  padding: 40px 20px 80px 20px;
}
.important-text-slide, .important-photo-slide {
  background: #141414;
  border-radius: 14px;
  overflow: hidden;
  color: #EBEBEB;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}
.important-text-slide .h4, .important-photo-slide .h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  margin-bottom: 16px;
  color: #FFFFFF;
}
.important-text-slide .p2, .important-photo-slide .p2 {
  max-width: 390px;
}
.important-text-slide img, .important-photo-slide img {
  width: 100%;
}

@media screen and (max-width: 951px) {
  .important {
    padding: 0 10px;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  .important__list {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  .important__item {
    background: #FFF566;
    flex-direction: column-reverse;
    padding: 0 10px 32px 10px !important;
  }
  .important__item .br {
    display: none;
  }
  .important__item:nth-child(2) {
    flex-direction: column;
    padding-bottom: 30px;
  }
  .important__item .h4 {
    margin-bottom: 10px;
  }
  .important__item .sub_paragraph {
    color: #52545A;
    padding-right: 100px;
    display: block;
  }
  .important__item .number-font {
    text-align: right;
    position: static !important;
    margin-bottom: 4px;
    font-size: 60px;
    font-weight: 200;
    line-height: 77px;
  }
}
.stations {
  color: #000000;
  width: 1290px;
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
  justify-content: center;
  padding-bottom: 140px;
  padding-top: 140px;
}
.stations__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.stations .card {
  position: relative;
}
.stations .card__dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFF566;
  display: block;
  cursor: pointer;
  position: absolute;
}
.stations .card__dot .address-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.stations .card__dot:after, .stations .card__dot:before {
  background: #000000;
  position: absolute;
  content: "";
  display: block;
  width: 8px;
  height: 1px;
  border-radius: 4px;
  transition: all linear 0.4s;
}
.stations .card__dot:before {
  top: 14.5px;
  left: 11px;
}
.stations .card__dot:after {
  top: 11px;
  left: 14.5px;
  width: 1px;
  height: 8px;
}
.stations .card__dot .address {
  display: none;
  position: absolute;
  left: 30px;
  top: 30px;
  width: 216px;
  background: rgba(82, 84, 90, 0.6039215686);
  border-radius: 14px;
  padding: 20px 10px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}
.stations .card__dot .address span {
  font-size: 8px;
  font-weight: 400;
  line-height: 9.6px;
  color: #EBEBEB;
}
.stations .card__dot .address .location {
  margin-bottom: 40px;
}
.stations .card__dot .address .time {
  margin-bottom: 16px;
}
.stations .card__dot .address .spec {
  margin-bottom: 28px;
}
.stations .card__dot_active {
  background: #52545A;
}
.stations .card__dot_active:before {
  rotate: 45deg;
  background: #FFFFFF;
}
.stations .card__dot_active:after {
  rotate: 45deg;
  background: #FFFFFF;
}
.stations .card__dot_active .address {
  display: block;
}
.stations .card .dot-1 {
  top: 213px;
  left: 337px;
}
.stations .card .dot-2 {
  top: 75px;
  left: 760px;
}
.stations .card .dot-3 {
  top: 251px;
  left: 653px;
}
.stations .card .dot-4 {
  top: 375px;
  left: 619px;
}
.stations .card .dot-5 {
  top: 405px;
  left: 289px;
}
.stations .card .dot-6 {
  top: 502px;
  left: 987px;
}
.stations .card .dot-7 {
  top: 173px;
  left: 958px;
}
.stations .card img {
  width: 100%;
}

@media screen and (max-width: 951px) {
  .stations {
    padding: 0 10px;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  .stations__list {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  .stations__item {
    background: #FFF566;
    flex-direction: column-reverse;
    padding: 0 10px 32px 10px !important;
  }
  .stations__item .br {
    display: none;
  }
  .stations__item:nth-child(2) {
    flex-direction: column;
    padding-bottom: 30px;
  }
  .stations__item .h4 {
    margin-bottom: 10px;
  }
  .stations__item .sub_paragraph {
    color: #52545A;
    padding-right: 100px;
    display: block;
  }
  .stations__item .number-font {
    text-align: right;
    position: static !important;
    margin-bottom: 4px;
    font-size: 60px;
    font-weight: 200;
    line-height: 77px;
  }
}
.preview {
  background: #EBEBEB;
  border-radius: 20px 20px 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 140px 80px;
  column-gap: 20px;
  row-gap: 20px;
  color: #000000;
  overflow: hidden;
}
.preview__header {
  grid-column-start: 1;
  grid-column-end: 5;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.preview__block {
  min-height: 530px;
  position: relative;
  overflow: hidden;
  color: #000000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: -1px 6px 34px -10px rgba(34, 60, 80, 0.16);
}
.preview__block .number-font {
  position: relative;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.preview__block .h4 {
  padding: 40px 0 40px 10px;
  transition: all 0.3s ease-in-out;
}
.preview__block .p2 {
  transition: all 0.3s ease-in-out;
  max-height: 0;
}
.preview__block:hover {
  background: #FFF566;
  color: #000000;
}
.preview__block:hover .number-font {
  position: relative;
  left: -30px;
  transition: all 0.3s ease-in-out;
}
.preview__block:hover .h4 {
  padding: 0 10px;
  margin-bottom: 12px;
  transition: all 0.3s ease-in-out;
}
.preview__block:hover .p2 {
  transition: all 0.3s ease-in-out;
  max-height: 100px;
  padding: 0 10px 40px 10px;
  margin-bottom: 12px;
}
.preview .controllers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
}
.preview .controllers__pagination {
  display: flex;
  align-self: center;
  gap: 2px;
}
.preview .controllers__slider {
  display: flex;
  gap: 20px;
}
.preview .controllers .button {
  border: 0.5px solid #A0A0A0;
  color: #FFFFFF;
}
.preview .controllers .button svg {
  color: #FFF566;
}
.preview .controllers .button:hover {
  background: #FFF566;
  border-color: #FFF566;
  color: #000000;
}
.preview .controllers .button:hover svg {
  color: #000000;
}
.preview-prev, .preview-next {
  cursor: pointer;
  color: #FFFFFF;
}
.preview-prev svg, .preview-next svg {
  height: 100%;
}
.preview [aria-disabled=true] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
.preview-slider {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 5;
  color: #FFFFFF;
}
.preview-wrapper {
  width: 100%;
  display: flex;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
}
.preview-slide {
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 1;
}
.preview-slide img {
  width: 590px;
}

@media screen and (max-width: 768px) {
  .preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 100px 10px;
    margin-bottom: 100px;
  }
  .preview__header {
    padding: 0 10px;
    margin-bottom: 50px;
  }
  .preview__header .h2 {
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
  }
  .preview__header .br {
    display: none;
  }
  .preview__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 10px 10px 10px !important;
  }
  .preview__block .button {
    background: #FFF566;
    color: #000000;
    width: 100%;
    justify-content: center;
  }
  .preview__block .photo {
    display: none;
  }
  .preview__block .h4 {
    margin-bottom: 0 !important;
    padding-top: 0 !important;
  }
  .preview__block .datetime {
    margin-bottom: 18px;
    padding-top: 0 !important;
  }
  .preview__block .location {
    padding: 30px 0;
  }
}
.invite {
  background: url("../../../assets/img/electro-service/invite-image-1.png") center/cover no-repeat;
  padding: 140px 0;
  color: #FFFFFF;
}
.invite > div {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 517px;
  column-gap: 20px;
}
.invite__header .h2 {
  margin-bottom: 16px;
  max-width: 570px;
}
.invite__header .p1 {
  max-width: 376px;
}
.invite__main {
  background: #141414;
  padding: 20px;
  border-radius: 20px;
}
.invite__main .p1 {
  padding: 20px 20px 30px 0;
}
.invite__main .invite-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.invite__main .invite-form .text-input {
  padding: 14px 20px;
  background: #141414;
  color: #FFFFFF;
}
.invite__main .invite-form .text-input::placeholder {
  color: #A0A0A0;
}
.invite__main .invite-form .select__icon {
  right: 20px;
}
.invite__main .invite-form .select__icon svg {
  color: #FFFFFF;
}
.invite__main .invite-form .select__input {
  background: #141414;
  color: #FFFFFF;
  padding: 14px 20px;
}
.invite__main .invite-form .select__input::placeholder {
  color: #A0A0A0;
}
.invite__main .invite-form .datepicker-input {
  padding: 14px 20px;
  background: #141414;
  color: #FFFFFF;
}
.invite__main .invite-form .datepicker-input::placeholder {
  color: #A0A0A0;
}
.invite__main .invite-form .datepicker-input:hover {
  border-color: #A0A0A0;
}
.invite__main .invite-form .datepicker-icon {
  padding: 18px 4px;
  right: 20px;
}
.invite__main .invite-form .datepicker-icon svg {
  color: #FFFFFF;
}
.invite__main .invite-form .datepicker-calendar {
  background: #141414;
}
.invite__main .invite-form .datepicker-calendar .datepicker-prevday, .invite__main .invite-form .datepicker-calendar .datepicker-nextday {
  color: #A0A0A0;
}
.invite__main .invite-form .datepicker-calendar .datepicker-day {
  color: #FFFFFF;
}
.invite__main .invite-form .datepicker-calendar .weekend {
  color: #A0A0A0;
}
.invite__main .agree {
  margin-top: 10px;
  margin-bottom: 17px;
}
.invite__main .agree .checkbox {
  margin-right: 10px;
}
.invite__main .agree .checkbox__input:checked + .checkbox__label {
  color: #FFFFFF;
}
.invite__main .agree .checkbox__label {
  background: #141414;
  color: #141414;
}

@media screen and (max-width: 768px) {
  .feedback {
    padding: 0 10px;
    margin-bottom: 100px;
  }
  .feedback__header {
    margin: 0 10px 40px 10px;
  }
  .feedback__header .h2 {
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
  }
  .feedback__controllers {
    height: 20px;
  }
}

/*# sourceMappingURL=electro-service.css.map */
