@use '../baseClasses';

@import '../null-css.css';
@import '../fonts.css';
@import "../constants";
@import '../../swiper-package/swiper-bundle.min.css';
@import "../components/footer.css";
@import "../scrollLayout.css";
@import "../components/header.css";
@import "../components/datapicker.css";
@import "../components/select.css";
@import "../components/checkbox.css";
@import "../components/text-input.css";
@import "../components/popup.css";
@import "../components/video-popup.css";
@import "../components/toggle.css";

.error-404 {
  background: $black;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .h1 {
    font-size: 166.43px;
    font-weight: 200;
    line-height: 233px;
  }

  & .p2 {
    max-width: 260px;
    margin-bottom: 40px;
    text-align: center;
  }

  & .button {
    border: 0.5px solid $gray;
  }

  & .graphic {
    position: absolute;
    bottom: 0;
    width: 100%;

    & img {
      width: 100%;
    }
  }

}


@media screen and (max-width: 768px) {
  .error-404 {
    & .h1 {
      font-size: 109.29px;
      font-weight: 200;
      line-height: 153px;

      margin-top: -100px;
    }


    & .button {
      font-size: 12px;
      font-weight: 700;
      line-height: 14.4px;
    }

    & .graphic {
      position: absolute;
      bottom: 0;
      width: 100%;

      & img {
        height: 190px;
      }
    }
  }
}